In [271]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import os
import re

from bs4 import BeautifulSoup
from utils import *

path_2004 = "./2004/"
all_2004 = os.listdir(path_2004)
all_2004 = [x for x in all_2004 if ('DS_Store' not in x)]

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [272]:
results = []
for fname in all_2004:
    test_f = open(path_2004 + fname)
    wholetext = test_f.read()
    cikbase = re.search(r"CENTRAL INDEX KEY:\s*?\d{10}\b", wholetext, re.I).group()
    cik_re = re.split(r'\s', cikbase)[-1]        

    datadatebase = re.search(r"CONFORMED PERIOD OF REPORT:\s*?\d{8}\b", wholetext, re.I).group() 
    datadate_re = re.split(r'\s', datadatebase)[-1]  

    wholetext = wholetext.lower()
    tbl_flag = 0 # 1 if "contractual obligations" table exists
    row_flag = 0 # 1 if "purchasing obligations" row exists
    table = scrape_table(wholetext)
    if table:
        tbl_flag = 1
        rows = scrape_rows(table)
    else:
        lines, tbl_list = scrape_text_table(wholetext)
        if tbl_list:
            tbl_flag = 1
            rows = scrape_text_rows(lines, tbl_list)
            
    for row in rows:
        row_flag = 1
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                  'total': row['total'], '<1': row['<1'], '1-3':row['1-3'], '3-5':row['3-5'], '>5':row['>5'], 
                  'category': row['category']}
        results.append(result)

    # No table or no row
    if (tbl_flag == 0) or (row_flag == 0):
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                  'total': '-', '<1': '-', '1-3':'-', '3-5':'-', '>5':'-'}

        results.append(result)
pd.DataFrame(results).to_csv('scraped_files_df')

Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Unknown error!
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Unknown error!
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Unknown error!
Unknown error!
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
No HTML tables!
Found a table
No HTML tables!
Found a table
Found a table
Found a table
Found a table
Found a table

In [273]:
results_df = pd.DataFrame(results)
row_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 1)] # table but no row
none_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 0)] # no table no row
last_check = results_df[(results_df['row'] == 1) & (results_df['tbl'] == 1)] # table and row, other issue?
print(len(set(last_check['fname'])), len(set(row_check['fname'])), len(set(none_check['fname'])))

47 9 0

In [279]:
already_checked = ['0001063197', '0000075362', '0000754009', '0000740260', '0001099668', '0000832428', '0000855581' ]
last_check

,1-3,3-5,<1,>5,category,cik,datadate,fname,row,tbl,total
1,27,0,12,0,capital lease\n obligations,0000881464,20031231,0001104659-04-007271.txt,1,1,39
2,9220,10935,3073,31413,operating\n leases,0000881464,20031231,0001104659-04-007271.txt,1,1,54641
3,321,463,513,1969,operating leases,0000018072,20040930,0001047469-04-035525.txt,1,1,672
4,270890,95387,113500,619155,gas supply,0000018072,20040930,0001047469-04-035525.txt,1,1,139378
5,55728,294147,28571,407017,transportation,0000018072,20040930,0001047469-04-035525.txt,1,1,28571
6,1723,1431,963,9480,operating leases(2),0001173284,20031231,0001193125-04-051895.txt,1,1,13597
7,20141,12090,12380,14710,noncancellable operating leases,0000790051,20031231,0001104659-04-006998.txt,1,1,59321
8,0,0,12400,0,purchase obligations,0000790051,20031231,0001104659-04-006998.txt,1,1,12400
9,2183,911,1224,1808,operating leases \n(1),0000007332,20031231,0000007332-04-000020.txt,1,1,6126
10,4.774e+06,3.868e+06,2.752e+06,21321000,operating lease obligations,0001070772,20040630,0001104659-04-029370.txt,1,1,32715000
11,27,14,16,260,capital lease obligations,0001159297,20031231,0001193125-04-030895.txt,1,1,317
12,84,46,67,30,operating leases,0001159297,20031231,0001193125-04-030895.txt,1,1,227
13,58,8,936,11,purchase obligations,0001159297,20031231,0001193125-04-030895.txt,1,1,1013
14,3,0,13,0,capital lease obligations,0000764478,20040228,0001047469-04-014114.txt,1,1,16
15,815,764,454,2621,operating lease obligations,0000764478,20040228,0001047469-04-014114.txt,1,1,4654
16,174,6,456,0,purchase obligations(1),0000764478,20040228,0001047469-04-014114.txt,1,1,636
17,167164,134094,96123,312881,operating leases (2),0001138118,20031231,0001193125-04-053937.txt,1,1,710262
18,3661,0,22903,0,co0investment commitments (2),0001138118,20031231,0001193125-04-053937.txt,1,1,26564
19,1308,2666,1960,7036,operating leases,0001004740,20031231,0001047469-04-007791.txt,1,1,1102
20,,,,1400,purchase obligations,0001004740,20031231,0001047469-04-007791.txt,1,1,1400
21,1338022,1207431,1433536,1756061,rental properties gross (9),0000929454,20031231,0001193125-04-035483.txt,1,1,1.40218e+06
22,1191824,1092370,1248520,1641891,rental properties net (9),0000929454,20031231,0001193125-04-035483.txt,1,1,1.21346e+06
23,98105,86286,78529,38773,investments in development,0000929454,20031231,0001193125-04-035483.txt,1,1,67493
24,7076,8106,7822,5679,investments in operating joint ventures,0000929454,20031231,0001193125-04-035483.txt,1,1,12211
25,79719,86054,85496,91667,operating activities,0000929454,20031231,0001193125-04-035483.txt,1,1,71659
26,8219,6275,5783,21656,operating leases,0001016152,20031231,0001104659-04-007464.txt,1,1,41933
27,620,0,360,0,consultative and non0competition agreements,0001016152,20031231,0001104659-04-007464.txt,1,1,980
28,945,0,0,19694,venture capital partnerships,0000811612,20031231,0000910647-04-000122.txt,1,1,20639
29,0,0,0.1,0,non0cancelable\n capital lease obligations,0000909791,20031231,0001104659-04-007074.txt,1,1,0.1
30,0.1,0,0,0,non0cancelable\n operating lease obligations0...,0000909791,20031231,0001104659-04-007074.txt,1,1,0.1
...,...,...,...,...,...,...,...,...,...,...,...
93,6385,4147,4694,21737,operating leases,0000790730,20031130,0001104659-04-005974.txt,1,1,36963
96,0,0,78,0,capital lease obligations,0001099674,20031231,0001104659-04-008933.txt,1,1,78
97,4553,38,3136,0,operating lease\n obligations,0001099674,20031231,0001104659-04-008933.txt,1,1,7727
98,1326,600,1125,421,operating leases,0001166036,20031231,0001104659-04-007427.txt,1,1,3472
99,24309,4730,38588,11821,capital lease obligations,0000733269,20040331,0000733269-04-000010.txt,1,1,79448
100,6044,6044,3022,11389,synthetic aircraft leases,0000733269,20040331,0000733269-04-000010.txt,1,1,26499
101,14428,715,20401,0,equipment operating leases,0000733269,20040331,0000733269-04-000010.txt,1,1,35544
102,29792,23301,16831,59430,building operating leases,0000733269,20040331,0000733269-04-000010.txt,1,1,129354
103,4257,4299,2122,43,partnerships building leases,0000733269,20040331,0000733269-04-000010.txt,1,1,10721
104,1278,0,903,0,related party aircraft lease,0000733269,20040331,0000733269-04-000010.txt,1,1,2181
105,1252,1372,6,0,operating leases,0000072971,20031231,0000950134-04-003387.txt,1,1,2624
106,190,0,192,357,purchase obligations (3),0000072971,20031231,0000950134-04-003387.txt,1,1,146
107,20606,17514,12518,6548,operating leases,0000706015,20031231,0000706015-04-000005.txt,1,1,57186
108,0,0,2130,0,third party licensing contracts,0000706015,20031231,0000706015-04-000005.txt,1,1,2130
109,1013,0,1127,0,third party development contracts,0000706015,20031231,0000706015-04-000005.txt,1,1,2140
110,924736,23465,355756,323700,total commercial commitments <u>,0000706015,20031231,0000706015-04-000005.txt,1,1,1627657
111,61622,202336,27812,491299,term credit facilities,0001175757,20040102,0001193125-04-048937.txt,1,1,783069
112,0,0,14025,0,revolving credit facilities,0001175757,20040102,0001193125-04-048937.txt,1,1,14025
113,0,0,95200,0,receivables securitization facility,0001175757,20040102,0001193125-04-048937.txt,1,1,95200
114,82661,42656,55988,19284,operating leases,0001175757,20040102,0001193125-04-048937.txt,1,1,200589
115,8658,1396,6384,0,capital leases,0001175757,20040102,0001193125-04-048937.txt,1,1,16438
116,42120,22320,19872,0,purchase commitments (1),0001175757,20040102,0001193125-04-048937.txt,1,1,84312
117,4910,1994,2881,0,operating lease obligations,0001048982,20040930,0001193125-04-193919.txt,1,1,9785
118,167,18,123,0,capital\n lease obligations,0001129162,20031231,0001104659-04-008761.txt,1,1,308
119,176,69,314,25,operating\n lease obligations,0001129162,20031231,0001104659-04-008761.txt,1,1,584
120,3674,1977,2314,811,purchase\n obligations (1),0001129162,20031231,0001104659-04-008761.txt,1,1,8776
121,16266,10744,9688,1817,operating leases,0000773141,20031231,0000773141-04-000004.txt,1,1,38515
122,00,00,86900,00,purchase obligations (1),0000773141,20031231,0000773141-04-000004.txt,1,1,86900
123,23,15,14,14,operating lease obligations (1),0000805264,20031231,0000805264-04-000007.txt,1,1,66
124,659,195,500,330,purchase obligations,0000805264,20031231,0000805264-04-000007.txt,1,1,1684

# Examining one file

In [276]:
transposed_files = ["0001104659-04-008879.txt", "0001104659-04-030276.txt"]
test_f = open(path_2004 + transposed_files[1])
wholetext = test_f.read()
wholetext = wholetext.lower()
table = scrape_table(wholetext)

Found a table

In [277]:
table_to_list(table)

[['payments due by period'],
 ['contractual\n  obligations (1)',
  'total',
  '2004',
  '2005 \x96 2006',
  '2007 \x96 2008',
  '2009 and\n  thereafter'],
 ['long-term obligations (2)', '270,000', '0', '0', '270,000', '0'],
 ['total', '270,000', '0', '0', '270,000', '0']]

In [270]:
column_name_elim_words = ['amounts due by fiscal year']
elim_subwords = ['\xa0','thousands']
table_headers = [x.text for x in tbl.find_all('th')]
table_headers = [x for x in table_headers if (x not in column_name_elim_words)]
final_table_headers = []
for header in table_headers:
    if not any(elim_word in header for elim_word in elim_subwords):
        final_table_headers.append(header)
final_table_headers

AttributeError: 'NoneType' object has no attribute 'find_all'

In [101]:
[x.text for x in tbl.find('tr').find_all('td')]

['\nin\n  thousands\n',
 '\n\xa0\n',
 '\ntotal\n',
 '\n\xa0\n',
 '\n2004\n',
 '\n\xa0\n',
 '\n2005\n',
 '\n\xa0\n',
 '\n2006\n',
 '\n\xa0\n',
 '\n2007\n',
 '\n\xa0\n',
 '\n2008\n',
 '\n\xa0\n',
 '\nthereafter\n',
 '\n\xa0\n']