In [298]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import os
import re

from bs4 import BeautifulSoup
from utils import *

path_2004 = "./2004/"
all_2004 = os.listdir(path_2004)
all_2004 = [x for x in all_2004 if ('DS_Store' not in x)]

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [301]:
results = []
for i, fname in enumerate(all_2004):
    print("File: ", i)
    test_f = open(path_2004 + fname)
    wholetext = test_f.read()
    cikbase = re.search(r"CENTRAL INDEX KEY:\s*?\d{10}\b", wholetext, re.I).group()
    cik_re = re.split(r'\s', cikbase)[-1]        

    datadatebase = re.search(r"CONFORMED PERIOD OF REPORT:\s*?\d{8}\b", wholetext, re.I).group() 
    datadate_re = re.split(r'\s', datadatebase)[-1]  

    wholetext = wholetext.lower()
    tbl_flag = 0 # 1 if "contractual obligations" table exists
    row_flag = 0 # 1 if "purchasing obligations" row exists
    multiplier = 1 # 1 by default
    
    table = scrape_table(wholetext)
    if table:
        tbl_flag = 1
        rows = scrape_rows(table)
        multiplier = get_multiplier_from_tbl(table)
    else:
        lines, tbl_list = scrape_text_table(wholetext)
        if tbl_list:
            tbl_flag = 1
            rows = scrape_text_rows(lines, tbl_list)
            multiplier = get_multiplier_from_tbl_list(tbl_list)

            
    for row in rows:
        row_flag = 1
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                   '<1': row['<1'], '1-3':row['1-3'], '3-5':row['3-5'], '>5':row['>5'], 
                  'category': row['category'], 'multiplier': multiplier}
        if 'total' in row.keys():
                result['total'] = row['total']
        results.append(result)

    # No table or no row
    if (tbl_flag == 0) or (row_flag == 0):
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                  'total': '-', '<1': '-', '1-3':'-', '3-5':'-', '>5':'-', 'multiplier': multiplier}

        results.append(result)
pd.DataFrame(results).to_csv('scraped_files_df')

File:  0

/Users/divyas/Documents/G1/sec/utils.py:152: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 152 of the file /Users/divyas/Documents/G1/sec/utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  parsed_html = BeautifulSoup(wholetext)

Found a table
File:  1
Found a table
File:  2
Found a table
File:  3
Found a table
File:  4
Found a table
File:  5
Found a table
File:  6
Found a table
File:  7
Found a table
File:  8
Found a table
File:  9
Found a table
File:  10
Found a table
File:  11
Found a table
File:  12
Found a table
File:  13
Found a table
File:  14
Found a table
File:  15
Found a table
File:  16
Found a table
File:  17
Found a table
File:  18
Found a table
File:  19
Found a table
File:  20
Found a table
File:  21
Found a table
File:  22
Found a table
File:  23
Found a table
File:  24
Found a table
File:  25
Found a table
File:  26
Found a table
File:  27
Found a table
File:  28
Found a table
File:  29
Found a table
File:  30
Found a table
File:  31
Found a table
File:  32
Found a table
File:  33
Found a table
File:  34
Found a table
File:  35
Found a table
File:  36
Found a table
File:  37
Found a table
File:  38
Found a table
File:  39
Found a table
Unknown error:  could not convert string to float: '(0.3'
Unknown error:  could not convert string to float: '%'
File:  40
Found a table
File:  41
Found a table
File:  42
Found a table
File:  43
Found a table
File:  44
Found a table
File:  45
Found a table
File:  46
Found a table
File:  47
Found a table
File:  48
No HTML tables!
File:  49
Found a table
File:  50
No HTML tables!
File:  51
Found a table
File:  52
Found a table
File:  53
Found a table
File:  54
Found a table
File:  55
Found a table

In [302]:
results_df = pd.DataFrame(results)
row_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 1)] # table but no row
none_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 0)] # no table no row
last_check = results_df[(results_df['row'] == 1) & (results_df['tbl'] == 1)] # table and row, other issue?
print(len(set(last_check['fname'])), len(set(row_check['fname'])), len(set(none_check['fname'])))

49 7 0

In [303]:
last_check

,1-3,3-5,<1,>5,category,cik,datadate,fname,multiplier,row,tbl,total
1,27,-,12,0 0,capital lease\n obligations,0000881464,20031231,0001104659-04-007271.txt,1000,1,1,39
2,9220,10935,3073,31413,operating\n leases,0000881464,20031231,0001104659-04-007271.txt,1000,1,1,54641
3,321,463,513,1969,operating leases,0000018072,20040930,0001047469-04-035525.txt,1,1,1,672
4,270890,95387,113500,619155,gas supply,0000018072,20040930,0001047469-04-035525.txt,1,1,1,139378
5,55728,294147,28571,407017,transportation,0000018072,20040930,0001047469-04-035525.txt,1,1,1,28571
6,1723,1431,963,9480,operating leases(2),0001173284,20031231,0001193125-04-051895.txt,1,1,1,13597
7,20141,12090,12380,14710,noncancellable operating leases,0000790051,20031231,0001104659-04-006998.txt,1000,1,1,59321
8,2183,911,1224,1808,operating leases \n(1),0000007332,20031231,0000007332-04-000020.txt,1000,1,1,6126
9,4.774e+06,3.868e+06,2.752e+06,21321000,operating lease obligations,0001070772,20040630,0001104659-04-029370.txt,1,1,1,32715000
10,27,14,16,260,capital lease obligations,0001159297,20031231,0001193125-04-030895.txt,1000000,1,1,317
11,84,46,67,30,operating leases,0001159297,20031231,0001193125-04-030895.txt,1000000,1,1,227
12,58,8,936,11,purchase obligations,0001159297,20031231,0001193125-04-030895.txt,1000000,1,1,1013
13,3,-,13,0 0,capital lease obligations,0000764478,20040228,0001047469-04-014114.txt,1000000,1,1,16
14,815,764,454,2621,operating lease obligations,0000764478,20040228,0001047469-04-014114.txt,1000000,1,1,4654
15,174,6,456,0,purchase obligations(1),0000764478,20040228,0001047469-04-014114.txt,1000000,1,1,636
16,167164,134094,96123,312881,operating leases (2),0001138118,20031231,0001193125-04-053937.txt,1,1,1,710262
17,3661,-,22903,0 0,co0investment commitments (2),0001138118,20031231,0001193125-04-053937.txt,1,1,1,26564
18,1960,1308,1102,2666,operating leases,0001004740,20031231,0001047469-04-007791.txt,1,1,1,7036
19,1338022,1207431,1433536,1756061,rental properties gross (9),0000929454,20031231,0001193125-04-035483.txt,1,1,1,1.40218e+06
20,1191824,1092370,1248520,1641891,rental properties net (9),0000929454,20031231,0001193125-04-035483.txt,1,1,1,1.21346e+06
21,98105,86286,78529,38773,investments in development,0000929454,20031231,0001193125-04-035483.txt,1,1,1,67493
22,7076,8106,7822,5679,investments in operating joint ventures,0000929454,20031231,0001193125-04-035483.txt,1,1,1,12211
23,79719,86054,85496,91667,operating activities,0000929454,20031231,0001193125-04-035483.txt,1,1,1,71659
24,8219,6275,5783,21656,operating leases,0001016152,20031231,0001104659-04-007464.txt,1000,1,1,41933
25,620,-,360,0 0,consultative and non0competition agreements,0001016152,20031231,0001104659-04-007464.txt,1000,1,1,980
26,2007008,-,2005006,thereafter,commercial commitments total,0000811612,20031231,0000910647-04-000122.txt,1,1,1,2004
27,945,0,0,19694,venture capital partnerships,0000811612,20031231,0000910647-04-000122.txt,1,1,1,20639
28,0.1,-,0,0 0,non0cancelable\n operating lease obligations0...,0000909791,20031231,0001104659-04-007074.txt,1000000,1,1,0.1
29,8.5,8.8,3.6,7.8,non0cancelable\n operating lease obligations0...,0000909791,20031231,0001104659-04-007074.txt,1000000,1,1,28.7
30,7.2,-,23.2,0 0,open purchase\n order commitments,0000909791,20031231,0001104659-04-007074.txt,1000000,1,1,30.4
...,...,...,...,...,...,...,...,...,...,...,...,...
82,384,240,247,408,non0cancelable operating leases,0000709519,20040630,0001193125-04-155723.txt,1000000,1,1,1279
83,25611,12500,13018,0,long0term debt including capital leases,0000018061,20040131,0001104659-04-009633.txt,1000,1,1,51129
84,2047,1278,1470,958,operating leases,0000018061,20040131,0001104659-04-009633.txt,1000,1,1,5753
85,6385,4147,4694,21737,operating leases,0000790730,20031130,0001104659-04-005974.txt,1000,1,1,36963
88,4553,38,3136,0,operating lease\n obligations,0001099674,20031231,0001104659-04-008933.txt,1000,1,1,7727
89,1326,600,1125,421,operating leases,0001166036,20031231,0001104659-04-007427.txt,1,1,1,3472
90,24309,4730,38588,11821,capital lease obligations,0000733269,20040331,0000733269-04-000010.txt,1,1,1,79448
91,6044,6044,3022,11389,synthetic aircraft leases,0000733269,20040331,0000733269-04-000010.txt,1,1,1,26499
92,14428,715,20401,0,equipment operating leases,0000733269,20040331,0000733269-04-000010.txt,1,1,1,35544
93,29792,23301,16831,59430,building operating leases,0000733269,20040331,0000733269-04-000010.txt,1,1,1,129354
94,4257,4299,2122,43,partnerships building leases,0000733269,20040331,0000733269-04-000010.txt,1,1,1,10721
95,1278,0,903,0,related party aircraft lease,0000733269,20040331,0000733269-04-000010.txt,1,1,1,2181
96,1252,867,505,2624,operating leases,0000072971,20031231,0000950134-04-003387.txt,1000000,1,1,6
97,192,19,146,0 0,purchase obligations (3),0000072971,20031231,0000950134-04-003387.txt,1000000,1,1,357
98,20606,17514,12518,6548,operating leases,0000706015,20031231,0000706015-04-000005.txt,1,1,1,57186
99,0,0,2130,0,third party licensing contracts,0000706015,20031231,0000706015-04-000005.txt,1,1,1,2130
100,1013,0,1127,0,third party development contracts,0000706015,20031231,0000706015-04-000005.txt,1,1,1,2140
101,924736,23465,355756,323700,total commercial commitments <u>,0000706015,20031231,0000706015-04-000005.txt,1,1,1,1.62766e+06
102,61622,202336,27812,491299,term credit facilities,0001175757,20040102,0001193125-04-048937.txt,1000,1,1,783069
103,82661,42656,55988,19284,operating leases,0001175757,20040102,0001193125-04-048937.txt,1000,1,1,200589
104,8658,1396,6384,0,capital leases,0001175757,20040102,0001193125-04-048937.txt,1000,1,1,16438
105,42120,22320,19872,0,purchase commitments (1),0001175757,20040102,0001193125-04-048937.txt,1000,1,1,84312
106,4910,1994,2881,0,operating lease obligations,0001048982,20040930,0001193125-04-193919.txt,1000,1,1,9785
107,167,18,123,0 0,capital\n lease obligations,0001129162,20031231,0001104659-04-008761.txt,1000,1,1,308
108,176,69,314,25,operating\n lease obligations,0001129162,20031231,0001104659-04-008761.txt,1000,1,1,584
109,3674,1977,2314,811,purchase\n obligations (1),0001129162,20031231,0001104659-04-008761.txt,1000,1,1,8776
110,16266,10744,9688,1817,operating leases,0000773141,20031231,0000773141-04-000004.txt,1000,1,1,38515
111,00,00,86900,00,purchase obligations (1),0000773141,20031231,0000773141-04-000004.txt,1000,1,1,86900
112,23,15,14,14,operating lease obligations (1),0000805264,20031231,0000805264-04-000007.txt,1000000,1,1,66
113,659,195,500,330,purchase obligations,0000805264,20031231,0000805264-04-000007.txt,1000000,1,1,1684

# Examining one file

In [295]:
test_f = open(path_2004 + "0001104659-04-007074.txt")
wholetext = test_f.read()
wholetext = wholetext.lower()
table = scrape_table(wholetext)

Found a table

[['(in\xa0millions) total',
  'less\xa0than\n  1\xa0year',
  '1\xa0-\xa03\xa0years',
  '3\xa0-\xa05\xa0years',
  'after\n  5\xa0years'],
 ['notes payable\n  obligations $', '2.5', '$', '2.5', '$ \x97 $ \x97 $ \x97'],
 ['non-cancelable\n  capital lease obligations',
  '0.1',
  '0.1',
  '\x97 \x97 \x97'],
 ['non-cancelable\n  operating lease obligations\x97equipment',
  '0.1',
  '\x97',
  '0.1',
  '\x97 \x97'],
 ['non-cancelable\n  operating lease obligations\x97buildings',
  '28.7',
  '3.6',
  '8.5',
  '8.8',
  '7.8'],
 ['long-term vendor\n  accounts payable', '0.7', '0.5', '\x97 \x97', '0.2'],
 ['open purchase\n  order commitments', '30.4', '23.2', '7.2', '\x97 \x97'],
 ['total contractual cash\n  obligations $',
  '62.5',
  '$',
  '29.9',
  '$',
  '15.8',
  '$',
  '8.8',
  '$',
  '8.0']]