In [12]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import os
import re

from tqdm import tqdm
from bs4 import BeautifulSoup
from utils import *
from row_utils import *

# Set directory & name of save file
results = []
save_file_name = "check1_df"

path_prefix = "./2004/"
all_2004 = os.listdir(path_prefix)
all_2004 = [x for x in all_2004 if ('DS_Store' not in x)]
all_2004 = [x for x in all_2004 if ('xlsx' not in x)]

# Recording which files have been scraped 
cik_done_dict = get_cik_done(save_file_name)
#cik_done_dict = {}

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
# Scraping the remaining files
results = []
for i in tqdm(range(len(all_2004))):
    
    fname = all_2004[i]
    test_f = open(path_prefix + fname)
    wholetext = test_f.read()
    cikbase = re.search(r"CENTRAL INDEX KEY:\s*?\d{10}\b", wholetext, re.I).group()
    cik_re = re.split(r'\s', cikbase)[-1]        

    datadatebase = re.search(r"CONFORMED PERIOD OF REPORT:\s*?\d{8}\b", wholetext, re.I).group() 
    datadate_re = re.split(r'\s', datadatebase)[-1] 
    if int(cik_re) in cik_done_dict:
        if int(datadate_re) in cik_done_dict[int(cik_re)]:
            print("Already processed this file")
            continue
    
    wholetext = wholetext.lower()
    tbl_flag = 0 # 1 if "contractual obligations" table exists
    row_flag = 0 # 1 if "purchasing obligations" row exists
    multiplier = 1 # 1 by default
    
    table = scrape_table(wholetext)
    rows = []
    if (not table) or ('-----' in table.text):
        multiplier, lines, tbl_list = scrape_text_table(wholetext)
        if tbl_list != None:
            tbl_flag = 1
            rows = scrape_text_rows(lines, tbl_list)
    else:
        tbl_flag = 1
        rows = scrape_rows(table)
        multiplier = get_multiplier_from_tbl(table)
        
    for row in rows:
        row_flag = 1
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                   '<1': row['<1'], '1-3':row['1-3'], '3-5':row['3-5'], '>5':row['>5'], 
                  'category': row['category'], 'multiplier': multiplier}
        if 'total' in row.keys():
                result['total'] = row['total']
        results.append(result)

    # No table or no row
    if (tbl_flag == 0) or (row_flag == 0):
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                  'total': '-', '<1': '-', '1-3':'-', '3-5':'-', '>5':'-', 'multiplier': multiplier}

        results.append(result)
    pd.DataFrame(results).to_csv(save_file_name)
    print("File: ", i, "\tTable: ", tbl_flag, "Row: ", row_flag)

  0%|          | 0/56 [00:00<?, ?it/s]/Users/divyas/Documents/G1/sec/utils.py:33: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 33 of the file /Users/divyas/Documents/G1/sec/utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  parsed_html = BeautifulSoup(wholetext)
  2%|▏         | 1/56 [00:01<00:56,  1.03s/it]

File:  0 	Table:  1 Row:  0

  4%|▎         | 2/56 [00:02<01:00,  1.12s/it]

File:  1 	Table:  1 Row:  0

  5%|▌         | 3/56 [00:04<01:13,  1.39s/it]

File:  2 	Table:  1 Row:  1

  7%|▋         | 4/56 [00:06<01:30,  1.74s/it]

File:  3 	Table:  1 Row:  1

  9%|▉         | 5/56 [00:08<01:26,  1.71s/it]

File:  4 	Table:  1 Row:  1

 11%|█         | 6/56 [00:10<01:22,  1.66s/it]

File:  5 	Table:  1 Row:  1

 12%|█▎        | 7/56 [00:12<01:25,  1.75s/it]

File:  6 	Table:  1 Row:  0

 14%|█▍        | 8/56 [00:15<01:42,  2.13s/it]

File:  7 	Table:  1 Row:  1

 16%|█▌        | 9/56 [00:17<01:46,  2.27s/it]

File:  8 	Table:  1 Row:  1

 18%|█▊        | 10/56 [00:20<01:54,  2.50s/it]

File:  9 	Table:  1 Row:  1

 20%|█▉        | 11/56 [00:23<01:52,  2.49s/it]

File:  10 	Table:  1 Row:  0

 21%|██▏       | 12/56 [00:26<01:58,  2.68s/it]

File:  11 	Table:  1 Row:  1

 23%|██▎       | 13/56 [00:27<01:41,  2.36s/it]

File:  12 	Table:  1 Row:  1

 25%|██▌       | 14/56 [00:31<01:55,  2.75s/it]

File:  13 	Table:  1 Row:  1

 27%|██▋       | 15/56 [00:33<01:40,  2.44s/it]

File:  14 	Table:  1 Row:  1

 29%|██▊       | 16/56 [00:35<01:30,  2.26s/it]

File:  15 	Table:  1 Row:  1

 30%|███       | 17/56 [00:38<01:44,  2.68s/it]

File:  16 	Table:  1 Row:  1

 32%|███▏      | 18/56 [00:41<01:41,  2.68s/it]

File:  17 	Table:  1 Row:  1

 34%|███▍      | 19/56 [00:44<01:39,  2.68s/it]

File:  18 	Table:  1 Row:  1

 36%|███▌      | 20/56 [00:47<01:40,  2.80s/it]

File:  19 	Table:  1 Row:  0

 38%|███▊      | 21/56 [00:48<01:22,  2.37s/it]

File:  20 	Table:  1 Row:  1

 39%|███▉      | 22/56 [00:51<01:23,  2.46s/it]

File:  21 	Table:  1 Row:  1

 41%|████      | 23/56 [00:52<01:04,  1.95s/it]

File:  22 	Table:  1 Row:  0

 43%|████▎     | 24/56 [00:54<01:08,  2.13s/it]

File:  23 	Table:  1 Row:  1

 45%|████▍     | 25/56 [00:57<01:14,  2.39s/it]

File:  24 	Table:  1 Row:  1

 46%|████▋     | 26/56 [00:59<01:05,  2.19s/it]

File:  25 	Table:  1 Row:  1

 48%|████▊     | 27/56 [01:01<01:01,  2.10s/it]

File:  26 	Table:  1 Row:  1

 50%|█████     | 28/56 [01:03<01:03,  2.27s/it]

File:  27 	Table:  1 Row:  1

 52%|█████▏    | 29/56 [01:06<01:04,  2.38s/it]

File:  28 	Table:  1 Row:  1

 54%|█████▎    | 30/56 [01:09<01:06,  2.57s/it]

File:  29 	Table:  1 Row:  1

 55%|█████▌    | 31/56 [01:11<00:59,  2.39s/it]

File:  30 	Table:  1 Row:  0

 57%|█████▋    | 32/56 [01:14<01:00,  2.53s/it]

File:  31 	Table:  1 Row:  1

 59%|█████▉    | 33/56 [01:15<00:51,  2.25s/it]

File:  32 	Table:  1 Row:  1

 61%|██████    | 34/56 [01:17<00:46,  2.13s/it]

File:  33 	Table:  1 Row:  1

 62%|██████▎   | 35/56 [01:20<00:47,  2.27s/it]

File:  34 	Table:  1 Row:  1

 64%|██████▍   | 36/56 [01:22<00:44,  2.23s/it]

File:  35 	Table:  1 Row:  1

 66%|██████▌   | 37/56 [01:24<00:38,  2.02s/it]

File:  36 	Table:  1 Row:  0

 68%|██████▊   | 38/56 [01:25<00:33,  1.87s/it]

File:  37 	Table:  1 Row:  1

 70%|██████▉   | 39/56 [01:27<00:33,  1.99s/it]

File:  38 	Table:  1 Row:  0

 71%|███████▏  | 40/56 [01:30<00:35,  2.21s/it]

File:  39 	Table:  1 Row:  0

 73%|███████▎  | 41/56 [01:32<00:32,  2.17s/it]

File:  40 	Table:  1 Row:  1

 75%|███████▌  | 42/56 [01:35<00:32,  2.32s/it]

File:  41 	Table:  1 Row:  1

 77%|███████▋  | 43/56 [01:37<00:27,  2.14s/it]

File:  42 	Table:  1 Row:  0

 79%|███████▊  | 44/56 [01:38<00:24,  2.03s/it]

File:  43 	Table:  1 Row:  1

 80%|████████  | 45/56 [01:40<00:20,  1.90s/it]

File:  44 	Table:  1 Row:  1

 82%|████████▏ | 46/56 [01:41<00:18,  1.80s/it]

File:  45 	Table:  1 Row:  0

 84%|████████▍ | 47/56 [01:43<00:15,  1.78s/it]

File:  46 	Table:  1 Row:  1

 86%|████████▌ | 48/56 [01:45<00:13,  1.74s/it]

File:  47 	Table:  1 Row:  1

 88%|████████▊ | 49/56 [01:52<00:24,  3.49s/it]

File:  48 	Table:  1 Row:  1

 89%|████████▉ | 50/56 [01:57<00:22,  3.73s/it]

File:  49 	Table:  1 Row:  1

 91%|█████████ | 51/56 [01:57<00:13,  2.75s/it]

File:  50 	Table:  1 Row:  1

 93%|█████████▎| 52/56 [02:00<00:11,  2.77s/it]

File:  51 	Table:  1 Row:  1

 95%|█████████▍| 53/56 [02:02<00:07,  2.54s/it]

File:  52 	Table:  1 Row:  0

 96%|█████████▋| 54/56 [02:04<00:04,  2.29s/it]

File:  53 	Table:  1 Row:  1

 98%|█████████▊| 55/56 [02:06<00:02,  2.20s/it]

File:  54 	Table:  1 Row:  1

100%|██████████| 56/56 [02:08<00:00,  2.12s/it]

File:  55 	Table:  1 Row:  1

In [9]:
#results_df = pd.DataFrame(results)
results_df = pd.read_csv(save_file_name)
row_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 1)] # table but no row
none_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 0)] # no table no row
last_check = results_df[(results_df['row'] == 1) & (results_df['tbl'] == 1)] # table and row, other issue?
print("row & table found: ", len(set(last_check['fname'])))
print("table found: ", len(set(row_check['fname'])))
print("nothing found: ", len(set(none_check['fname'])))

row & table found:  7
table found:  0
nothing found:  0

In [10]:
last_check

,1-3,3-5,<1,>5,category,cik,datadate,fname,multiplier,row,tbl,total
0,2708.3,1018.7,1719.7,28.0,purchase obligations(a),0000009389,20031231,0000009389-04-000059.txt,1000000,1,1,5474.7
1,3204.9,1128.3,1832.1,1113.1,total payments on contractual obligations,0000009389,20031231,0000009389-04-000059.txt,1000000,1,1,7278.4
2,1,0,98,0,and construction of buildings,0000003333,20040129,0000003333-04-000014.txt,1,1,1,99.0
3,0,0,80,0,transportation contracts,0000003333,20040129,0000003333-04-000014.txt,1,1,1,80.0
4,1346,831,1480,7532,total contractual cash obligations,0000003333,20040129,0000003333-04-000014.txt,1,1,1,11189.0
5,77,49,63,31,capital lease obligations,0000022198,20031231,0000004904-04-000060.txt,1000000,1,1,220.0
6,2132,1101,1720,1785,obligations (a),0000022198,20031231,0000004904-04-000060.txt,1000000,1,1,6738.0
7,492,441,291,2331,noncancellable operating leases,0000022198,20031231,0000004904-04-000060.txt,1000000,1,1,3555.0
8,2512,0,2512,7200,other long0term obligations (b),0000800459,20040630,0000800459-04-000047.txt,1000,1,1,12224.0
9,0,0,20674,000,firm commitments for capital expenditures,0000800459,20040630,0000800459-04-000047.txt,1000,1,1,20674.0
10,0,0,58762,000,purchase obligations (c),0000800459,20040630,0000800459-04-000047.txt,1000,1,1,58762.0
11,295336,191729,133255,40493,total contractual cash obligations,0000800459,20040630,0000800459-04-000047.txt,1000,1,1,660813.0
12,135000,0,476000,0,purchase obligations,0000855612,20031231,0000950134-04-003510.txt,1,1,1,NaN
13,2.057e+06,844000,1619000,844000,total contractual obligations,0000855612,20031231,0000950134-04-003510.txt,1,1,1,NaN
14,0,0,4.7,0,purchase commitments,0000093456,20031228,0000906318-04-000093.txt,1000000,1,1,4.7
15,77,49,63,31,capital lease obligations,0000004904,20031231,0000004904-04-000055.txt,1000000,1,1,220.0
16,2132,1101,1720,1785,obligations (a),0000004904,20031231,0000004904-04-000055.txt,1000000,1,1,6738.0
17,492,441,291,2331,noncancellable operating leases,0000004904,20031231,0000004904-04-000055.txt,1000000,1,1,3555.0

# Examining one file

In [9]:
test_f = open(path_prefix + "0000733269-04-000010.txt")
wholetext = test_f.read()
cik_re = get_cik(wholetext)
datadate_re = get_datadate(wholetext)  
print("CIK: ", cik_re, "Date: ", datadate_re)
wholetext = wholetext.lower()
multiplier, lines, tbl_list = scrape_text_table(wholetext)
rows = scrape_text_rows(lines, tbl_list)
#scores, tables = scrape_table(wholetext)
#table = scrape_table(wholetext)
#rows = scrape_rows(table)
#lines
#mult = get_multiplier_from_tbl(table)
rows

CIK:  0000733269 Date:  20040331

[{'1-3': 24309.0,
  '3-5': 4730.0,
  '<1': 38588.0,
  '>5': '11821',
  'category': 'capital lease obligations',
  'total': 79448.0},
 {'1-3': 75606.0,
  '3-5': 205824.0,
  '<1': 73246.0,
  '>5': '12026',
  'category': 'obligations',
  'total': 366702.0},
 {'1-3': 6044.0,
  '3-5': 6044.0,
  '<1': 3022.0,
  '>5': '11389',
  'category': 'synthetic aircraft leases',
  'total': 26499.0},
 {'1-3': 14428.0,
  '3-5': 715.0,
  '<1': 20401.0,
  '>5': '0',
  'category': 'equipment operating leases',
  'total': 35544.0},
 {'1-3': 29792.0,
  '3-5': 23301.0,
  '<1': 16831.0,
  '>5': '59430',
  'category': 'building operating leases',
  'total': 129354.0},
 {'1-3': 4257.0,
  '3-5': 4299.0,
  '<1': 2122.0,
  '>5': '43',
  'category': 'partnerships building leases',
  'total': 10721.0},
 {'1-3': 1278.0,
  '3-5': 0.0,
  '<1': 903.0,
  '>5': '0',
  'category': 'related party aircraft lease',
  'total': 2181.0},
 {'1-3': 8556.0,
  '3-5': 7030.0,
  '<1': 9426.0,
  '>5': '3515',
  'category': 'obligations',
  'total': 28527.0},
 {'1-3': 67691.0,
  '3-5': 41642.0,
  '<1': 62165.0,
  '>5': '74377',
  'category': 'obligations',
  'total': 245875.0},
 {'1-3': 143297.0,
  '3-5': 247466.0,
  '<1': 135411.0,
  '>5': '86403',
  'category': 'obligations',
  'total': 612577.0}]

In [293]:
#lines = chunks[np.argmax(scores)].split('\n')
lines = [x for x in lines if (hasNumbers(x))]
keywords = HDR_KWS + ROW_KWS + ['obligations']
lines = [x for x in lines if (hasKeywords(x, keywords))]
lines = [x.split(' ') for x in lines]
for i, line in enumerate(lines):
    lines[i] = list(filter(lambda a: (a != '') and (a != '$') and (a !='<u>') and (a !='</u>'), line))    
tbl_list = []
tbl_list = combine_text_fields(lines)
scrape_text_rows(lines, tbl_list)

Unknown error:  could not convert string to float: 'by inflation of'

[{'1-3': 2848000.0,
  '3-5': '71000',
  '<1': 1179000.0,
  '>5': '000',
  'category': 'obligations',
  'total': 4098000.0},
 {'1-3': 24293.0,
  '3-5': '0',
  '<1': 24293.0,
  '>5': '0',
  'category': 'obligations',
  'total': 48586.0},
 {'1-3': 0.0,
  '3-5': '0',
  '<1': 3450.0,
  '>5': '0',
  'category': 'purchase obligations',
  'total': 3450.0}]

In [135]:
#lt[1].text.replace('\n', '').replace('\xa0', '')
len(lt)

1