In [139]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import os
import re

from bs4 import BeautifulSoup
from utils import *

path_2004 = "./2004/"
all_2004 = os.listdir(path_2004)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [216]:
results = []
for fname in all_2004:
    test_f = open(path_2004 + fname)
    wholetext = test_f.read()
    cikbase = re.search(r"CENTRAL INDEX KEY:\s*?\d{10}\b", wholetext, re.I).group()
    cik_re = re.split(r'\s', cikbase)[-1]        

    datadatebase = re.search(r"CONFORMED PERIOD OF REPORT:\s*?\d{8}\b", wholetext, re.I).group() 
    datadate_re = re.split(r'\s', datadatebase)[-1]  

    wholetext = wholetext.lower()
    tbl_flag = 0 # 1 if "contractual obligations" table exists
    row_flag = 0 # 1 if "purchasing obligations" row exists
    table = scrape_table(wholetext)
    if table:
        tbl_flag = 1
        rows = scrape_rows(table)
        for row in rows:
            row_flag = 1
            result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                      'total': row['total'], '<1': row['<1'], '1-3':row['1-3'], '3-5':row['3-5'], '>5':row['>5'], 
                      'category': row['category']}
            results.append(result)

    # No table or no row
    if (tbl_flag == 0) or (row_flag == 0):
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                  'total': '-', '<1': '-', '1-3':'-', '3-5':'-', '>5':'-'}

        results.append(result)
pd.DataFrame(results).to_csv('scraped_files_df')

/Users/divyas/Documents/G1/sec/utils.py:57: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 57 of the file /Users/divyas/Documents/G1/sec/utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  parsed_html = BeautifulSoup(wholetext)

Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Unknown error!
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Unknown error!
Unknown error!
Unknown error!
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
Found a table
No tables!
Found a table
No tables!
Found a table
Found a table
Found a table
Found a table
Found a table

In [217]:
results_df = pd.DataFrame(results)
row_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 1)] # table but no row
none_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 0)] # no table no row
last_check = results_df[(results_df['row'] == 1) & (results_df['tbl'] == 1)] # table and row, other issue?
print(len(set(last_check['fname'])), len(set(row_check['fname'])), len(set(none_check['fname'])))

43 10 2

In [184]:
row_check

,1-3,3-5,<1,>5,category,cik,datadate,fname,row,tbl,total
0,-,-,-,-,NaN,0001063197,20031231,0001063197-04-000009.txt,0,1,-
41,-,-,-,-,NaN,0000075362,20031231,0001104659-04-007210.txt,0,1,-
45,-,-,-,-,NaN,0000754009,20031231,0000754009-04-000086.txt,0,1,-
46,-,-,-,-,NaN,0000879957,20040630,0001193125-04-152290.txt,0,1,-
52,-,-,-,-,NaN,0001106935,20031231,0000945234-04-000159.txt,0,1,-
56,-,-,-,-,NaN,0000740260,20031231,0001193125-04-031291.txt,0,1,-
57,-,-,-,-,NaN,0001099668,20031231,0001104659-04-008865.txt,0,1,-
64,-,-,-,-,NaN,0001053178,20040731,0001104659-04-032708.txt,0,1,-
69,-,-,-,-,NaN,0001085653,20031231,0001085653-04-000023.txt,0,1,-
75,-,-,-,-,NaN,0000832428,20031231,0001193125-04-038916.txt,0,1,-
77,-,-,-,-,NaN,0000709519,20040630,0001193125-04-155723.txt,0,1,-
81,-,-,-,-,NaN,0000855581,20040630,0001104659-04-030276.txt,0,1,-
97,-,-,-,-,NaN,0001048982,20040930,0001193125-04-193919.txt,0,1,-

# Examining one file

In [212]:
test_f = open(path_2004 + "/0001193125-04-193919.txt")
wholetext = test_f.read()
wholetext = wholetext.lower()
tbl = scrape_table(wholetext)

/Users/divyas/Documents/G1/sec/utils.py:58: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 58 of the file /Users/divyas/Documents/G1/sec/utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  parsed_html = BeautifulSoup(wholetext)

[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 3. 1. 0. 0. 0. 0. 1. 0. 0. 0. 5. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.
 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 3. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 3. 1. 0. 0.
 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 2. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Found a table

In [214]:
tbl_list = table_to_list(tbl)
scrape_rows(tbl)

['operating lease obligations', '9785', '2881', '4910', '1994', '0']

[{'1-3': '4910',
  '3-5': '1994',
  '<1': '2881',
  '>5': '0',
  'category': 'operating lease obligations',
  'total': 9785.0}]

In [72]:
column_name_elim_words = ['amounts due by fiscal year']
elim_subwords = ['\xa0','thousands']
table_headers = [x.text for x in tbl.find_all('th')]
table_headers = [x for x in table_headers if (x not in column_name_elim_words)]
final_table_headers = []
for header in table_headers:
    if not any(elim_word in header for elim_word in elim_subwords):
        final_table_headers.append(header)
final_table_headers

['contract category ',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 'beyond\n2009',
 'total']

In [101]:
[x.text for x in tbl.find('tr').find_all('td')]

['\nin\n  thousands\n',
 '\n\xa0\n',
 '\ntotal\n',
 '\n\xa0\n',
 '\n2004\n',
 '\n\xa0\n',
 '\n2005\n',
 '\n\xa0\n',
 '\n2006\n',
 '\n\xa0\n',
 '\n2007\n',
 '\n\xa0\n',
 '\n2008\n',
 '\n\xa0\n',
 '\nthereafter\n',
 '\n\xa0\n']