In [351]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import os
import re

from bs4 import BeautifulSoup
from utils import *
from row_utils import *

# Set directory & name of save file
results = []
save_file_name = "others_df"

path_2004 = "./2005/"
all_2004 = os.listdir(path_2004)
all_2004 = [x for x in all_2004 if ('DS_Store' not in x)]

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [352]:
# Recording which files have been scraped 
cik_done_dict = get_cik_done(csv_name)

In [353]:
cik_done_dict

{65984: [20041231, 20041231, 20041231, 20041231]}

In [356]:
# Scraping the remaining files
for i, fname in enumerate(all_2004):
    test_f = open(path_2004 + fname)
    wholetext = test_f.read()
    cikbase = re.search(r"CENTRAL INDEX KEY:\s*?\d{10}\b", wholetext, re.I).group()
    cik_re = re.split(r'\s', cikbase)[-1]        

    datadatebase = re.search(r"CONFORMED PERIOD OF REPORT:\s*?\d{8}\b", wholetext, re.I).group() 
    datadate_re = re.split(r'\s', datadatebase)[-1] 
    if int(cik_re) in cik_done_dict:
        if int(datadate_re) in cik_done_dict[int(cik_re)]:
            print("Already processed this file")
            continue
    
    wholetext = wholetext.lower()
    tbl_flag = 0 # 1 if "contractual obligations" table exists
    row_flag = 0 # 1 if "purchasing obligations" row exists
    multiplier = 1 # 1 by default
    
    table = scrape_table(wholetext)
    rows = []
    if table:
        tbl_flag = 1
        rows = scrape_rows(table)
        multiplier = get_multiplier_from_tbl(table)
    else:
        lines, tbl_list = scrape_text_table(wholetext)
        if tbl_list:
            tbl_flag = 1
            rows = scrape_text_rows(lines, tbl_list)
            multiplier = get_multiplier_from_tbl_list(tbl_list)

            
    for row in rows:
        row_flag = 1
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                   '<1': row['<1'], '1-3':row['1-3'], '3-5':row['3-5'], '>5':row['>5'], 
                  'category': row['category'], 'multiplier': multiplier}
        if 'total' in row.keys():
                result['total'] = row['total']
        results.append(result)

    # No table or no row
    if (tbl_flag == 0) or (row_flag == 0):
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                  'total': '-', '<1': '-', '1-3':'-', '3-5':'-', '>5':'-', 'multiplier': multiplier}

        results.append(result)
    pd.DataFrame(results).to_csv(save_file_name)
    print("File: ", i, "\tTable: ", tbl_flag, "Row: ", row_flag)

Already processed this file
File:  1 	Table:  1 Row:  1
File:  2 	Table:  1 Row:  1
File:  3 	Table:  1 Row:  1
File:  4 	Table:  1 Row:  1
File:  5 	Table:  1 Row:  1
File:  6 	Table:  1 Row:  1
File:  7 	Table:  1 Row:  0
File:  8 	Table:  1 Row:  1
File:  9 	Table:  1 Row:  1
File:  10 	Table:  1 Row:  1
File:  11 	Table:  1 Row:  1
File:  12 	Table:  1 Row:  1
File:  13 	Table:  1 Row:  1
File:  14 	Table:  1 Row:  1
File:  15 	Table:  1 Row:  1
File:  16 	Table:  1 Row:  1
File:  17 	Table:  1 Row:  1
File:  18 	Table:  1 Row:  1
File:  19 	Table:  1 Row:  1
File:  20 	Table:  1 Row:  1
File:  21 	Table:  1 Row:  1
File:  22 	Table:  1 Row:  1
File:  23 	Table:  1 Row:  1
File:  24 	Table:  1 Row:  1
File:  25 	Table:  1 Row:  1
File:  26 	Table:  1 Row:  1
File:  27 	Table:  1 Row:  1
File:  28 	Table:  1 Row:  1
File:  29 	Table:  1 Row:  1
File:  30 	Table:  1 Row:  0
File:  31 	Table:  1 Row:  1
File:  32 	Table:  1 Row:  1
File:  33 	Table:  1 Row:  0
File:  34 	Table:  1 Row:  1
File:  35 	Table:  1 Row:  1
File:  36 	Table:  1 Row:  0
File:  37 	Table:  1 Row:  1
File:  38 	Table:  1 Row:  1
File:  39 	Table:  1 Row:  1
File:  40 	Table:  1 Row:  1
File:  41 	Table:  1 Row:  1
File:  42 	Table:  1 Row:  1
File:  43 	Table:  1 Row:  1
File:  44 	Table:  1 Row:  1
File:  45 	Table:  1 Row:  1
File:  46 	Table:  1 Row:  1
File:  47 	Table:  1 Row:  0
File:  48 	Table:  1 Row:  1
File:  49 	Table:  1 Row:  1
File:  50 	Table:  1 Row:  1
File:  51 	Table:  1 Row:  1
File:  52 	Table:  1 Row:  1
File:  53 	Table:  1 Row:  1
File:  54 	Table:  1 Row:  1
File:  55 	Table:  1 Row:  0
File:  56 	Table:  1 Row:  1
File:  57 	Table:  1 Row:  1
File:  58 	Table:  1 Row:  0
File:  59 	Table:  1 Row:  1
File:  60 	Table:  1 Row:  1
File:  61 	Table:  1 Row:  0
File:  62 	Table:  1 Row:  0
File:  63 	Table:  1 Row:  1
File:  64 	Table:  1 Row:  0
File:  65 	Table:  1 Row:  1
File:  66 	Table:  1 Row:  1
File:  67 	Table:  1 Row:  1
File:  68 	Table:  1 Row:  0
File:  69 	Table:  1 Row:  1
File:  70 	Table:  1 Row:  1
File:  71 	Table:  1 Row:  1
File:  72 	Table:  1 Row:  0
File:  73 	Table:  1 Row:  1
File:  74 	Table:  1 Row:  0
File:  75 	Table:  1 Row:  1
File:  76 	Table:  1 Row:  1
File:  77 	Table:  1 Row:  1
File:  78 	Table:  1 Row:  0
File:  79 	Table:  1 Row:  0
File:  80 	Table:  1 Row:  1
File:  81 	Table:  1 Row:  1
File:  82 	Table:  1 Row:  1
File:  83 	Table:  1 Row:  1
File:  84 	Table:  1 Row:  0
File:  85 	Table:  1 Row:  1
File:  86 	Table:  1 Row:  1
File:  87 	Table:  1 Row:  1
File:  88 	Table:  1 Row:  0
File:  89 	Table:  1 Row:  1
File:  90 	Table:  1 Row:  1

In [349]:
#results_df = pd.DataFrame(results)
results_df = pd.read_csv('others_df')
row_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 1)] # table but no row
none_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 0)] # no table no row
last_check = results_df[(results_df['row'] == 1) & (results_df['tbl'] == 1)] # table and row, other issue?
print("row & table found: ", len(set(last_check['fname'])))
print("table found: ", len(set(row_check['fname'])))
print("nothing found: ", len(set(none_check['fname'])))

row & table found:  1
table found:  0
nothing found:  0

In [348]:
last_check

,Unnamed: 0,1-3,3-5,<1,>5,category,cik,datadate,fname,multiplier,row,tbl,total
0,0,10,6,7.0,11,operating leases,65984,20041231,0000065984-05-000147.txt,1000000,1,1,34.0
1,1,361,336,190.0,2059,purchase obligations (2),65984,20041231,0000065984-05-000147.txt,1000000,1,1,2946.0
2,2,10,6,7.0,11,operating leases,65984,20041231,0000065984-05-000147.txt,1000000,1,1,34.0
3,3,361,336,190.0,2059,purchase obligations (2),65984,20041231,0000065984-05-000147.txt,1000000,1,1,2946.0

In [350]:
cik_done_dict

{4962: [20021231],
 4977: [20021231, 20021231, 20021231],
 5187: [20021231],
 6207: [20030430],
 6383: [20030228, 20030228],
 6885: [20030201, 20030201],
 6951: [20021027],
 7084: [20030630],
 7214: [20021231],
 7536: [20021231, 20021231],
 7623: [20021130],
 7694: [20030930],
 7789: [20021231],
 8411: [20030930],
 8598: [20021231],
 8670: [20030912],
 9128: [20021231],
 9342: [20021228],
 9346: [20021231],
 9389: [20021231],
 9548: [20021231],
 9779: [20030630, 20030630, 20030630],
 9892: [20021231, 20021231, 20021231, 20021231, 20021231, 20021231],
 10427: [20021228, 20021228],
 11860: [20021231],
 12208: [20021231],
 12355: [20021231],
 12400: [20021231],
 12779: [20021031],
 12927: [20021231, 20021231, 20021231],
 13239: [20021231],
 13372: [20021231],
 13573: [20030629],
 14280: [20031014],
 14693: [20030430],
 14707: [20030201],
 14846: [20030930],
 14995: [20030930, 20020930],
 15310: [20021231],
 15393: [20021231],
 15486: [20021228, 20021228, 20021228],
 15615: [20021231],
 15847: [20030430],
 16099: [20030827],
 16104: [20030329],
 16317: [20021231],
 16918: [20030228],
 18230: [20021231, 20021231, 20021231, 20021231],
 18349: [20021231, 20021231],
 18605: [20021231],
 18654: [20021231],
 18808: [20021231, 20021231, 20021231],
 18914: [20021231],
 18926: [20021231],
 19161: [20021231],
 19353: [20030201],
 19731: [20021229, 20021229],
 19745: [20021231],
 20212: [20021231, 20021231],
 20232: [20021231, 20021231, 20021231, 20021231, 20021231],
 20520: [20021231],
 20639: [20021231],
 21076: [20030630, 20030630],
 21344: [20021231],
 21438: [20021231],
 21759: [20021031,
  20021031,
  20021031,
  20021031,
  20021031,
  20021031,
  20021031,
  20021031],
 22551: [20021231],
 22701: [20021231],
 23194: [20021231],
 23426: [20021231],
 23795: [20021231],
 24741: [20021231],
 25191: [20021231],
 25232: [20021231],
 25354: [20030201],
 25598: [20021231],
 25600: [20021231],
 25743: [20021231],
 25793: [20021228, 20021228, 20021228],
 26058: [20021231],
 27673: [20031031, 20031031],
 27984: [20021231],
 28452: [20021231],
 28561: [20030630],
 28871: [20021228],
 28917: [20030201],
 29002: [20021231],
 29332: [20021228, 20021228, 20021228],
 29534: [20030131, 20030131, 20030131, 20030131],
 29924: [20021231],
 30197: [20021231],
 30302: [20030203, 20030203, 20030203, 20030203],
 31107: [20021228],
 31235: [20021231, 20021231, 20021231, 20021231],
 32258: [20021231, 20021231, 20021231],
 32604: [20031114, 20031114],
 32776: [20021231],
 32878: [20030630],
 33002: [20030228],
 33073: [20021231],
 34285: [20021231],
 34563: [20030630],
 34587: [20021231],
 35733: [20021231],
 36029: [20021231],
 36146: [20021231],
 37637: [20021231],
 37643: [20021231, 20021231, 20021231, 20021231],
 37651: [20030930],
 37914: [20021102],
 37996: [20021231],
 38074: [20030331],
 38723: [20021231],
 38725: [20021228],
 38777: [20030930],
 39273: [20021231],
 40023: [20021231],
 40461: [20021231],
 40545: [20021231],
 40554: [20021231],
 40570: [20030930],
 40730: [20021231],
 41133: [20030430, 20030430],
 42293: [20021231],
 42888: [20021227, 20021227],
 43300: [20030222],
 43398: [20030331],
 43704: [20021231],
 45012: [20021231],
 45599: [20021231],
 46709: [20021231],
 47035: [20030803],
 47111: [20030326, 20030326, 20030326],
 47288: [20021231],
 47307: [20030930],
 48165: [20021231],
 48272: [20021231],
 49401: [20030103],
 49600: [20021231],
 49728: [20020930, 20030930],
 49996: [20030320, 20030320],
 50073: [20021231],
 50183: [20021231],
 50957: [20021231],
 51303: [20031031],
 51644: [20021231, 20021231, 20021231, 20021231],
 52466: [20021231],
 52971: [20030630],
 53260: [20030430],
 54291: [20021231],
 54381: [20021231],
 54441: [20021231],
 54473: [20021231],
 54502: [20021231, 20021231, 20021231, 20021231, 20021231, 20021231, 20021231],
 55362: [20021231, 20021231, 20021231, 20021231, 20021231, 20021231],
 55604: [20021231],
 55772: [20030630],
 55785: [20021231],
 57131: [20030426],
 57139: [20030629],
 59255: [20021231],
 60086: [20021231],
 60302: [20021031],
 60667: [20030131, 20030131, 20030131],
 60714: [20021231],
 61138: [20021231],
 61339: [20021231, 20021231, 20021231, 20021231],
 61398: [20030630],
 61986: [20021231],
 63296: [20030930],
 63330: [20021231],
 63416: [20030201],
 64279: [20021231],
 64463: [20021231],
 64892: [20030331, 20030331, 20030331, 20030331],
 65011: [20030630, 20030630, 20030630, 20030630],
 65195: [20021231],
 65201: [20030131],
 65873: [20021231, 20021231, 20021231],
 66544: [20030430, 20030430],
 66740: [20021231],
 66756: [20021231],
 66895: [20030630],
 67347: [20030618, 20030618, 20030618, 20030618],
 67472: [20030630],
 67517: [20021231],
 67618: [20021231],
 67625: [20030930],
 67716: [20021231],
 68270: [20030603],
 68726: [20021231],
 70145: [20030930],
 70415: [20021231],
 70453: [20021231],
 70502: [20030531],
 70530: [20030525],
 70684: [20021231],
 70816: [20021231, 20021231, 20021231, 20021231],
 71023: [20030331],
 71241: [20021231],
 71337: [20030331],
 71932: [20030331, 20030331, 20030331],
 72243: [20021231],
 73952: [20021231],
 74145: [20021231],
 74260: [20021231],
 75042: [20021228, 20021228, 20021228, 20021228],
 75234: [20021231],
 75448: [20021231],
 75527: [20021231],
 75594: [20030331, 20030331, 20030331],
 75679: [20021231],
 76267: [20030302],
 77388: [20030930, 20030930, 20030930],
 77449: [20030502],
 77543: [20021231],
 77597: [20021102],
 77877: [20021231],
 78838: [20021231],
 78890: [20021231],
 79282: [20021231, 20021231, 20021231],
 79677: [20030731],
 80124: [20021231],
 81061: [20021228],
 83125: [20021231],
 84278: [20021031],
 84581: [20021231, 20021231, 20021231],
 84748: [20021229],
 84839: [20021231],
 85535: [20030630],
 86346: [20021228],
 86521: [20021231],
 86940: [20021231],
 87047: [20021231],
 88121: [20021231],
 88255: [20021228],
 88948: [20030331],
 89439: [20021228],
 90045: [20021231],
 90794: [20021231],
 91928: [20021231],
 92195: [20021231],
 92275: [20021231, 20021231, 20021231],
 92487: [20021231],
 93003: [20030630],
 93384: [20030228],
 93676: [20030628],
 93859: [20030924],
 94056: [20021231],
 94185: [20030731],
 94538: [20021231],
 95301: [20021231],
 95779: [20021231, 20021231],
 95953: [20021228, 20021228, 20021228, 20021228],
 96223: [20021231],
 96287: [20030201],
 96289: [20021231],
 97216: [20021231],
 97452: [20021231],
 97745: [20021228],
 98362: [20021231],
 98537: [20030330],
 98788: [20030831],
 99106: [20021231],
 100378: [20030630],
 100412: [20021231],
 100493: [20030927],
 100517: [20030328, 20030328, 20030328, 20030328],
 100716: [20021231],
 100826: [20021231],
 100893: [20021231],
 101001: [20030328, 20030328, 20030328, 20030328],
 101829: [20021231, 20021231],
 102109: [20030331],
 102198: [20030731],
 102752: [20021231],
 103595: [20030726],
 103973: [20021231, 20021231, 20021231, 20021231, 20021231],
 104169: [20030131, 20030131, 20030131],
 104207: [20030831, 20030831, 20030831, 20030831, 20030831, 20030831],
 104599: [20030228],
 105418: [20021228],
 105532: [20030628],
 105770: [20021231],
 106455: [20021231],
 106926: [20021231],
 107140: [20030430],
 107294: [20030731, 20030731, 20030731],
 107815: [20021231, 20021231, 20021231, 20021231, 20021231],
 107819: [20021231, 20021231, 20021231],
 107832: [20021231],
 108601: [20021231],
 108985: [20021231],
 109747: [20021231],
 110430: [20021231],
 202584: [20021231, 20021231],
 202953: [20021231],
 203248: [20030630],
 203596: [20021231],
 205239: [20021231],
 205462: [20030930],
 215310: [20021231],
 215419: [20021229, 20021229, 20021229, 20021229],
 215994: [20030628],
 225775: [20021231],
 277135: [20021231],
 277158: [20021231],
 277375: [20030630],
 277509: [20021231],
 277638: [20021231],
 277925: [20021231],
 310158: [20021231, 20021231],
 310235: [20020930],
 310354: [20030630],
 310764: [20021231, 20021231, 20021231, 20021231],
 310826: [20021231],
 311049: [20021231],
 311657: [20021231],
 312583: [20021031],
 313277: [20021231],
 313337: [20021231],
 313395: [20021231],
 314808: [20021231],
 315261: [20021231],
 315374: [20021031],
 315849: [20021231],
 316709: [20021231],
 316770: [20021231],
 317771: [20021227],
 318300: [20030303],
 318306: [20021231],
 318380: [20021231],
 318673: [20021231],
 318771: [20021231],
 318835: [20021231],
 319201: [20030630],
 319687: [20021231,
  20021231,
  20021231,
  20021231,
  20021231,
  20021231,
  20021231],
 320166: [20030430],
 320321: [20021231, 20021231, 20021231, 20021231, 20021231],
 320573: [20030630],
 350199: [20021228],
 350750: [20021231, 20021231],
 350846: [20021228],
 351145: [20021231],
 351498: [20021231],
 351532: [20021231],
 351717: [20030331, 20030331, 20030331],
 351721: [20021231],
 351817: [20021231],
 351903: [20030630],
 351998: [20021231],
 352183: [20030331, 20030331],
 352363: [20021228],
 352825: [20021231],
 352947: [20021231, 20021231, 20021231],
 352983: [20021231],
 352988: [20030630],
 353184: [20030331],
 353567: [20030930, 20030930, 20030930],
 353650: [20021231],
 353944: [20030930],
 354562: [20021231],
 354706: [20021231],
 355019: [20030630],
 355356: [20030731],
 355429: [20021231],
 355622: [20030101],
 355699: [20020531],
 355804: [20021231],
 355948: [20030531],
 356028: [20030331],
 356130: [20021231],
 356171: [20021231],
 356342: [20021231],
 356858: [20021231],
 357294: [20021031],
 357301: [20021231],
 700565: [20021231],
 700841: [20021231],
 701286: [20021230],
 701869: [20021231],
 702165: [20021231, 20021231, 20021231, 20021231],
 703329: [20021231, 20021231],
 703351: [20030625, 20030625, 20030625],
 703667: [20021231],
 703701: [20021231],
 705025: [20021231],
 706015: [20021231, 20021231, 20021231, 20021231],
 707179: [20021231],
 708250: [20021231],
 708821: [20021231],
 709283: [20030331],
 711422: [20030630],
 711512: [20021231],
 712534: [20021231],
 712537: [20021231],
 712770: [20021231],
 713095: [20021231],
 714710: [20021231],
 715072: [20021231],
 715812: [20030430],
 716101: [20021231],
 716688: [20030930],
 717538: [20021231],
 717724: [20030726],
 718332: [20030629],
 718413: [20021231],
 718915: [20030228],
 718916: [20030531],
 719184: [20021231],
 719220: [20021231],
 719241: [20021231],
 719547: [20030630],
 719581: [20021231],
 719589: [20021231],
 720005: [20030926, 20030926, 20030926, 20030926],
 720851: [20021231],
 721683: [20021231, 20021231, 20021231],
 721994: [20021231],
 722051: [20021231],
 723603: [20030427],
 723888: [20021130],
 724533: [20021231],
 724941: [20021231],
 725058: [20021231],
 725752: [20020831],
 726601: [20021231],
 726728: [20021231],
 727634: [20021231, 20021231],
 728391: [20021231],
 729237: [20021231],
 730000: [20030623, 20030331],
 730255: [20030301],
 730464: [20030630],
 730469: [20021231],
 743366: [20021231],
 745061: [20021231],
 763399: [20021231],
 764586: [20021231],
 776813: [20021231],
 783325: [20021231, 20021231, 20021231, 20021231, 20021231],
 789089: [20021231],
 792989: [20021231],
 833795: [20021231],
 844048: [20021231],
 893331: [20011231],
 912838: [20021231],
 928597: [20030529],
 947431: [20021231],
 1005404: [20021231],
 1013109: [20021231],
 1013556: [20021231],
 1014052: [20030731],
 1027343: [20021227],
 1031002: [20021227],
 1032208: [20021231],
 1038708: [20021231],
 1041856: [20021231],
 1041864: [20021231],
 1043246: [20030529],
 1044325: [20021231],
 1051827: [20021227],
 1051828: [20021227],
 1052635: [20021227],
 1074544: [20021227],
 1099204: [20021231],
 1170975: [20021231],
 1193768: [20030529]}

# Examining one file

In [316]:
path_prefix = "./2005/"
test_f = open(path_prefix + "0001144204-05-009084.txt")
wholetext = test_f.read()
cik_re = get_cik(wholetext)
datadate_re = get_datadate(wholetext)  
print("CIK: ", cik_re, "Date: ", datadate_re)
wholetext = wholetext.lower()
#lines, tbl_list = scrape_text_table(wholetext)
lines, tbl_list = scrape_text_table(wholetext)
rows = scrape_text_rows(lines, tbl_list)
#scores, tables = scrape_table(wholetext)
#table = scrape_table(wholetext)
#rows = scrape_rows(table)
#lines
rows

CIK:  0000096988 Date:  20041231
['contractual obligations total', '1', 'year years years years']
['commitment for this facility is', '214000', 'through september', '22', '2007', 'which is']
['store fixtures will be essentially unchanged in', '2005', 'as compared with', '2004.']
['the company wrote off accounts receivable and inventories in', '2001', 'as a result of']
ROWS
[['long0term debt obligations', '5057', '46', '34', '4977', '00'], ['capital lease obligations', '96', '38', '58', '00', '00'], ['operating lease obligations', '7427', '2100', '4601', '726', '00']]
total_idx:  -1
['capital lease obligations', '96', '38', '58', '00', '00']

[{'1-3': 34.0,
  '3-5': '4977',
  '<1': 46.0,
  '>5': '00',
  'category': 'long0term debt obligations',
  'total': 5057.0},
 {'1-3': 58.0,
  '3-5': '00',
  '<1': 38.0,
  '>5': '00',
  'category': 'capital lease obligations',
  'total': 96.0},
 {'1-3': 4601.0,
  '3-5': '726',
  '<1': 2100.0,
  '>5': '00',
  'category': 'operating lease obligations',
  'total': 7427.0}]

In [209]:
#table_to_list(table)
table_to_list(tables[np.where(scores == 4)[0][1]])
#scores

IndexError: index 1 is out of bounds for axis 0 with size 1

In [293]:
#lines = chunks[np.argmax(scores)].split('\n')
lines = [x for x in lines if (hasNumbers(x))]
keywords = HDR_KWS + ROW_KWS + ['obligations']
lines = [x for x in lines if (hasKeywords(x, keywords))]
lines = [x.split(' ') for x in lines]
for i, line in enumerate(lines):
    lines[i] = list(filter(lambda a: (a != '') and (a != '$') and (a !='<u>') and (a !='</u>'), line))    
tbl_list = []
tbl_list = combine_text_fields(lines)
scrape_text_rows(lines, tbl_list)

Unknown error:  could not convert string to float: 'by inflation of'

[{'1-3': 2848000.0,
  '3-5': '71000',
  '<1': 1179000.0,
  '>5': '000',
  'category': 'obligations',
  'total': 4098000.0},
 {'1-3': 24293.0,
  '3-5': '0',
  '<1': 24293.0,
  '>5': '0',
  'category': 'obligations',
  'total': 48586.0},
 {'1-3': 0.0,
  '3-5': '0',
  '<1': 3450.0,
  '>5': '0',
  'category': 'purchase obligations',
  'total': 3450.0}]

In [135]:
#lt[1].text.replace('\n', '').replace('\xa0', '')
len(lt)

1