In [11]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import os
import re

from bs4 import BeautifulSoup
from utils import *

path_2004 = "./test/"
all_2004 = os.listdir(path_2004)
all_2004 = [x for x in all_2004 if ('DS_Store' not in x)]

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
results = []
for i, fname in enumerate(all_2004):
    print("File: ", i)
    test_f = open(path_2004 + fname)
    wholetext = test_f.read()
    cikbase = re.search(r"CENTRAL INDEX KEY:\s*?\d{10}\b", wholetext, re.I).group()
    cik_re = re.split(r'\s', cikbase)[-1]        

    datadatebase = re.search(r"CONFORMED PERIOD OF REPORT:\s*?\d{8}\b", wholetext, re.I).group() 
    datadate_re = re.split(r'\s', datadatebase)[-1]  

    wholetext = wholetext.lower()
    tbl_flag = 0 # 1 if "contractual obligations" table exists
    row_flag = 0 # 1 if "purchasing obligations" row exists
    multiplier = 1 # 1 by default
    
    table = scrape_table(wholetext)
    if table:
        tbl_flag = 1
        rows = scrape_rows(table)
        multiplier = get_multiplier_from_tbl(table)
    else:
        lines, tbl_list = scrape_text_table(wholetext)
        if tbl_list:
            tbl_flag = 1
            rows = scrape_text_rows(lines, tbl_list)
            multiplier = get_multiplier_from_tbl_list(tbl_list)

            
    for row in rows:
        row_flag = 1
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                   '<1': row['<1'], '1-3':row['1-3'], '3-5':row['3-5'], '>5':row['>5'], 
                  'category': row['category'], 'multiplier': multiplier}
        if 'total' in row.keys():
                result['total'] = row['total']
        results.append(result)

    # No table or no row
    if (tbl_flag == 0) or (row_flag == 0):
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                  'total': '-', '<1': '-', '1-3':'-', '3-5':'-', '>5':'-', 'multiplier': multiplier}

        results.append(result)
pd.DataFrame(results).to_csv('scraped_files_df')

File:  0

/Users/divyas/Documents/G1/sec/utils.py:152: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 152 of the file /Users/divyas/Documents/G1/sec/utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  parsed_html = BeautifulSoup(wholetext)

Found a table
File:  1
Found a table
File:  2
Found a table
File:  3
Found a table
File:  4
Found a table
File:  5
Found a table
Unknown error:  could not convert string to float: 'thereafter total minimum lease payments'
File:  6
Found a table
File:  7
Found a table
File:  8
Found a table
File:  9
Found a table
File:  10
Found a table
File:  11
Found a table
File:  12
Found a table
File:  13
Found a table
File:  14
Found a table
File:  15
Found a table
File:  16
Found a table
File:  17
Found a table
File:  18
Found a table
File:  19
Found a table
File:  20
Found a table
File:  21
Found a table
File:  22
Found a table
File:  23
Found a table
File:  24
Found a table
File:  25
Found a table
File:  26
Found a table
File:  27
Found a table
File:  28
Found a table
File:  29
Found a table
File:  30
Found a table
File:  31
Found a table
File:  32
Found a table
File:  33
Found a table
File:  34
Found a table
File:  35
Found a table
File:  36
Found a table
File:  37
Found a table
File:  38
Found a table
File:  39
Found a table
File:  40
Found a table
File:  41
Found a table
Unable to parse longer row
File:  42
Found a table
File:  43
Found a table
File:  44
Found a table
Unknown error:  invalid literal for int() with base 10: '136.0'
File:  45
Found a table
File:  46
Found a table
File:  47
Found a table
Unknown error:  could not convert string to float: '(11364987'
File:  48
Found a table
File:  49
Found a table
File:  50
Found a table
File:  51
Found a table
File:  52
Found a table
File:  53
Found a table
File:  54
Found a table
File:  55
Found a table
File:  56
Found a table
File:  57
Found a table
File:  58
Found a table
File:  59
Found a table
File:  60
Found a table
File:  61
Found a table
File:  62
Found a table
File:  63
Found a table
File:  64
Found a table
File:  65
Found a table
File:  66
Found a table
File:  67
Found a table
File:  68
Found a table
File:  69
Found a table
Unknown error:  could not convert string to float: 'up to 1 year'
File:  70
Found a table
File:  71
Found a table
File:  72
Found a table
File:  73
Found a table
File:  74
Found a table
File:  75
Found a table
File:  76
Found a table
File:  77
Found a table
File:  78
Found a table
File:  79
Found a table
File:  80
Found a table
File:  81
Found a table
File:  82
Found a table
File:  83
Found a table
File:  84
Found a table
File:  85
Found a table
File:  86
Found a table
File:  87
Found a table
File:  88
Found a table
File:  89
Found a table
File:  90
Found a table

In [3]:
results_df = pd.DataFrame(results)
row_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 1)] # table but no row
none_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 0)] # no table no row
last_check = results_df[(results_df['row'] == 1) & (results_df['tbl'] == 1)] # table and row, other issue?
print(len(set(last_check['fname'])), len(set(row_check['fname'])), len(set(none_check['fname'])))

73 18 0

In [6]:
last_check

,1-3,3-5,<1,>5,category,cik,datadate,fname,multiplier,row,tbl,total
0,146,2,136,3,capital lease payments (2),0000065984,20041231,0000065984-05-000147.txt,1000000,1,1,287
1,155,100,99,210,operating leases (2),0000065984,20041231,0000065984-05-000147.txt,1000000,1,1,564
2,1402,962,1160,1156,purchase obligations (3),0000065984,20041231,0000065984-05-000147.txt,1000000,1,1,4680
3,0.4,0.1,0.5,0,capital\n lease obligations (c),0000004904,20041231,0001015402-05-001007.txt,1,1,1,1
4,7.6,5.1,5.8,6.2,noncancelable\n operating leases (c),0000004904,20041231,0001015402-05-001007.txt,1,1,1,24.7
5,46.1,41.8,22.9,96.7,energy\n and capacity purchase contracts (d),0000004904,20041231,0001015402-05-001007.txt,1,1,1,207.5
6,5446,3539,2620,482,capital lease obligations,0001056904,20041231,0001193125-05-032959.txt,1000,1,1,12087
7,13941,10742,7633,19539,operating leases,0001056904,20041231,0001193125-05-032959.txt,1000,1,1,51855
8,234,319,93,976,operating leases,0000879215,20041231,0001193125-05-048164.txt,1,1,1,1622
9,385,401,208,1248,capacity payments,0000879215,20041231,0001193125-05-048164.txt,1,1,1,2242
10,27,28,14,55,conditional purchase obligations,0000879215,20041231,0001193125-05-048164.txt,1,1,1,124
11,61,27,44,0,capital lease obligations (3),0000788983,20050831,0000950152-05-009577.txt,1000,1,1,132
12,6357,5873,3942,16060,operating lease obligations (4),0000788983,20050831,0000950152-05-009577.txt,1000,1,1,32232
14,4460931,807,2705,0,operating leases,0000812191,20041231,0001169232-05-001689.txt,1000,1,1,8903
15,20,-,1275,0 0 0,purchase obligations,0000812191,20041231,0001169232-05-001689.txt,1000,1,1,1295
16,86,-,858,0 0,operating lease obligations (1),0001297633,20041231,0001193125-05-056589.txt,1000,1,1,944
17,243,-,24792,0 0,purchase obligations (2),0001297633,20041231,0001193125-05-056589.txt,1000,1,1,25035
18,2240,1613,1383,2482,operating\n lease obligations (note 4),0000040545,20041231,0000040545-05-000020.txt,1000000,1,1,7718
19,11000,4000,35000,3000,purchase\n obligations(a)(b),0000040545,20041231,0000040545-05-000020.txt,1000000,1,1,53000
20,0,0,39102,0,repurchase agreements(1),0000778972,20041231,0000926044-05-000125.txt,1,1,1,39102
21,959,959,479,22207,operating leases,0000778972,20041231,0000926044-05-000125.txt,1,1,1,24604
23,0.4,0.1,0.5,0,capital\n lease obligations (c),0000055373,20041231,0001015402-05-001029.txt,1,1,1,1
24,7.6,5.1,5.8,6.2,noncancelable\n operating leases (c),0000055373,20041231,0001015402-05-001029.txt,1,1,1,24.7
25,46.1,41.8,22.9,96.7,energy\n and capacity purchase contracts (d),0000055373,20041231,0001015402-05-001029.txt,1,1,1,207.5
26,9.3,1.8,5.0,0.2,capital lease obligations**,0000774459,20041231,0001193125-05-046748.txt,1000000,1,1,16.3
27,0.4,-,0.6,0 0,operating lease obligations**,0000774459,20041231,0001193125-05-046748.txt,1000000,1,1,1
28,114.7,115.8,56.8,1167.8,purpa purchased power,0000774459,20041231,0001193125-05-046748.txt,1000000,1,1,1455.1
29,108.1,11.8,117.3,0.8,fuel purchase and transportation commitments**,0000774459,20041231,0001193125-05-046748.txt,1000000,1,1,238
30,9.3,1.8,5.0,0.2,capital lease obligations**,0000067646,20041231,0001193125-05-046761.txt,1000000,1,1,16.3
31,0.4,-,0.6,0 0,operating lease obligations**,0000067646,20041231,0001193125-05-046761.txt,1000000,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
142,1.3,0.2,2.0,0,operating leases(4),0001071255,20050102,0000950134-05-022496.txt,1,1,1,3.5
143,0.9,1.0,0.3,0.8,wpte operating leases(5),0001071255,20050102,0000950134-05-022496.txt,1,1,1,3
144,0.3,0.3,0.6,0.1,wpte purchase obligations(6),0001071255,20050102,0000950134-05-022496.txt,1,1,1,1.3
145,48683,53812,44972,183399,capital lease obligation mortgages and other n...,0001042642,20041231,0000950134-05-006534.txt,1000,1,1,330866
147,3151,2579,2087,12433,capital\n lease obligations,0001017022,20041231,0001017022-05-000014.txt,1,1,1,20250
148,22000,-,158638,— —,capital\n expenditures,0001017022,20041231,0001017022-05-000014.txt,1,1,1,180638
151,3141,657,2039,773,operating\nleases,0001055355,20041231,0001206774-05-000371.txt,1,1,1,6610
152,36,24.4,25.7,28.4,operating leases,0001183920,20041231,0001104659-05-011503.txt,1000000,1,1,114.5
153,11,2.3,7.8,0,capital lease\n obligations,0001183920,20041231,0001104659-05-011503.txt,1000000,1,1,21.1
154,4.71.0,1.3,20.6,0 0,purchase\n obligations,0001183920,20041231,0001104659-05-011503.txt,1000000,1,1,27.6
157,3289,2681,2248,7399,minimum annual operating leases,0000702902,20041231,0001047469-05-005914.txt,1,1,1,15617
158,12,7,8,7,capital\n leases (2),0000004285,20041231,0001003297-05-000061.txt,1000000,1,1,34
159,115,62,83,85,operating\n leases (2),0000004285,20041231,0001003297-05-000061.txt,1000000,1,1,345
160,1176,1163,885,3100,purchase\n obligations (2),0000004285,20041231,0001003297-05-000061.txt,1000000,1,1,6324
161,3.6,1.4,2.0,00,capital\n lease obligations,0000081100,20041231,0001085392-05-000044.txt,1000000,1,1,7
162,37.3,26.8,19.3,46.1,non0cancelable\n operating leases,0000081100,20041231,0001085392-05-000044.txt,1000000,1,1,129.5
163,1491.0,1278.2,929.4,1289.6,energy\n purchase obligations,0000081100,20041231,0001085392-05-000044.txt,1000000,1,1,4988.2
164,5874,2332,3955,4026,operatingleasecommitments,0000851520,20041231,0001193125-05-051002.txt,1000,1,1,NaN
165,46,5,55,0 0,capitalleases,0000851520,20041231,0001193125-05-051002.txt,1000,1,1,5262
168,43.6,26.7,23.5,47.1,operating lease\n obligations(b),0000230463,20041231,0001104659-05-009767.txt,1000000,1,1,140.9
169,21.6,2.5,21.8,10.0,purchase\n obligations(c),0000230463,20041231,0001104659-05-009767.txt,1000000,1,1,55.9
170,14.0,6.9,9.1,4.5,operating leases,0001268984,20041231,0001047469-05-008611.txt,1,1,1,34.5
171,7.5,7.5,3.8,9.5,purchase obligations(2),0001268984,20041231,0001047469-05-008611.txt,1,1,1,28.3
173,763328,213248,810061,0,capital lease obligations(2),0001131608,20041231,0001104659-05-039504.txt,1,1,1,1.78664e+06
174,39520409,40787444,19865479,203744570,operating lease obligations,0001131608,20041231,0001104659-05-039504.txt,1,1,1,3.03918e+08
175,427060,1911698,245540,364731,long0term debt excluding revolving credit faci...,0000785161,20041231,0001193125-05-235488.txt,1000,1,1,2.94903e+06
176,6300,6300,1575,300825,revolving credit facility,0000785161,20041231,0001193125-05-235488.txt,1000,1,1,315000
177,77289,69956,50626,136866,capital lease obligations(c),0000785161,20041231,0001193125-05-235488.txt,1000,1,1,334737
178,176794,107173,122549,222781,operating lease obligations(d)(e)(f),0000785161,20041231,0001193125-05-235488.txt,1000,1,1,629297
179,80759,6895,47089,12,purchase obligations(f)(g),0000785161,20041231,0001193125-05-235488.txt,1000,1,1,134755

# Examining one file

In [27]:
test_f = open(path_2004 + "0000003753-03-000009.txt")
wholetext = test_f.read()
cik_re = get_cik(wholetext)
datadate_re = get_datadate(wholetext)  
print("CIK: ", cik_re, "Date: ", datadate_re)
wholetext = wholetext.lower()
lines, tbl_list = scrape_text_table(wholetext)

CIK:  0000003753 Date:  20021231

In [20]:
rows = []
for row in tbl_list:
    if any([word in row[0] for word in ROW_KWS]):
        if ('following' not in row[0]):
            rows.append(clean_row(row))

In [28]:
scrape_text_rows(lines, tbl_list)

[{'1-3': '555750',
  '3-5': '0',
  '<1': '312856',
  '>5': '0',
  'category': 'operating leases',
  'total': 868606.0}]