In [117]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import os
import re

from tqdm import tqdm
from bs4 import BeautifulSoup
from utils import *
from row_utils import *
from string_utils import *

# Set directory & name of save file
results = []
save_file_name = "check1_df"

path_prefix = "./Check_20190717/"
all_2004 = os.listdir(path_prefix)
all_2004 = [x for x in all_2004 if ('DS_Store' not in x)]
all_2004 = [x for x in all_2004 if ('xlsx' not in x)]

# Recording which files have been scraped 
cik_done_dict = get_cik_done(save_file_name)
#cik_done_dict = {}

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [125]:
# Scraping the remaining files
results = []
for i in tqdm(range(len(all_2004))):
    
    fname = all_2004[i]
    test_f = open(path_prefix + fname)
    wholetext = test_f.read()
    cikbase = re.search(r"CENTRAL INDEX KEY:\s*?\d{10}\b", wholetext, re.I).group()
    cik_re = re.split(r'\s', cikbase)[-1]        

    datadatebase = re.search(r"CONFORMED PERIOD OF REPORT:\s*?\d{8}\b", wholetext, re.I).group() 
    datadate_re = re.split(r'\s', datadatebase)[-1] 
    if int(cik_re) in cik_done_dict:
        if int(datadate_re) in cik_done_dict[int(cik_re)]:
            print("Already processed this file")
            continue
    
    wholetext = wholetext.lower()
    tbl_flag = 0 # 1 if "contractual obligations" table exists
    row_flag = 0 # 1 if "purchasing obligations" row exists
    multiplier = 1 # 1 by default
    
    table = scrape_table(wholetext)
    rows = []
    if (not table) or ('-----' in table.text):
        multiplier, lines, tbl_list = scrape_text_table(wholetext)
        if tbl_list != None:
            tbl_flag = 1
            rows = scrape_text_rows(lines, tbl_list)
    else:
        tbl_flag = 1
        rows = scrape_rows(table)
        multiplier = get_multiplier_from_tbl(table)
        
    for row in rows:
        row_flag = 1
        
        continue_flag = 0
        all_entries = [float(row['<1']), float(row['1-3']), float(row['3-5']), float(row['>5'])]
        if np.sum(all_entries) == 0:
            continue_flag = 1
        if continue_flag == 1:
            continue
            
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 
                  'row': row_flag, '<1': row['<1'], '1-3':row['1-3'], 
                  '3-5':row['3-5'], '>5':row['>5'], 
                  'category': clean_category_name(row['category']), 
                  'multiplier': multiplier}
        if 'total' in row.keys():
                result['total'] = row['total']
        results.append(result)

    # No table or no row
    if (tbl_flag == 0) or (row_flag == 0):
        result = {'fname': fname, 'cik': cik_re, 'datadate': datadate_re, 'tbl': tbl_flag, 'row': row_flag, 
                  'total': '-', '<1': '-', '1-3':'-', '3-5':'-', '>5':'-', 'multiplier': multiplier, 'category': 'None'}

        results.append(result)
    pd.DataFrame(results).to_csv(save_file_name)
    print("File: ", i, "\tTable: ", tbl_flag, "Row: ", row_flag)

  0%|          | 0/33 [00:00<?, ?it/s]
  3%|▎         | 1/33 [00:04<02:33,  4.81s/it]

File:  0 	Table:  1 Row:  1

  6%|▌         | 2/33 [00:08<02:16,  4.40s/it]

File:  1 	Table:  1 Row:  1

  9%|▉         | 3/33 [00:10<01:52,  3.75s/it]

File:  2 	Table:  1 Row:  1

 12%|█▏        | 4/33 [00:10<01:20,  2.77s/it]

File:  3 	Table:  1 Row:  1
File:  4 	Table:  1 Row:  0
File:  5 	Table:  1 Row:  1

 21%|██        | 7/33 [00:11<00:52,  2.02s/it]

File:  6 	Table:  1 Row:  1

 24%|██▍       | 8/33 [00:13<00:49,  1.97s/it]

File:  7 	Table:  1 Row:  1

 27%|██▋       | 9/33 [00:17<01:03,  2.63s/it]

File:  8 	Table:  1 Row:  1
File:  9 	Table:  1 Row:  0

 33%|███▎      | 11/33 [00:18<00:42,  1.93s/it]

File:  10 	Table:  1 Row:  1

 36%|███▋      | 12/33 [00:21<00:45,  2.15s/it]

File:  11 	Table:  1 Row:  1

 39%|███▉      | 13/33 [00:23<00:43,  2.15s/it]

File:  12 	Table:  1 Row:  1

 42%|████▏     | 14/33 [00:23<00:32,  1.73s/it]

File:  13 	Table:  1 Row:  1

 45%|████▌     | 15/33 [00:27<00:38,  2.13s/it]

File:  14 	Table:  1 Row:  1

 48%|████▊     | 16/33 [00:27<00:30,  1.77s/it]

File:  15 	Table:  1 Row:  0

 52%|█████▏    | 17/33 [00:29<00:25,  1.60s/it]

File:  16 	Table:  1 Row:  0

 55%|█████▍    | 18/33 [00:29<00:20,  1.34s/it]

File:  17 	Table:  1 Row:  1

 58%|█████▊    | 19/33 [00:31<00:18,  1.34s/it]

File:  18 	Table:  1 Row:  1
File:  19 	Table:  1 Row:  1

 64%|██████▎   | 21/33 [00:32<00:12,  1.06s/it]

File:  20 	Table:  1 Row:  1

 67%|██████▋   | 22/33 [00:35<00:18,  1.66s/it]

File:  21 	Table:  1 Row:  1

 70%|██████▉   | 23/33 [00:37<00:17,  1.76s/it]

File:  22 	Table:  1 Row:  1
File:  23 	Table:  1 Row:  1

 76%|███████▌  | 25/33 [00:38<00:12,  1.50s/it]

File:  24 	Table:  1 Row:  1

 79%|███████▉  | 26/33 [00:44<00:18,  2.69s/it]

File:  25 	Table:  1 Row:  1
File:  26 	Table:  1 Row:  1

 85%|████████▍ | 28/33 [00:46<00:11,  2.22s/it]

File:  27 	Table:  1 Row:  1

 88%|████████▊ | 29/33 [00:47<00:07,  1.97s/it]

File:  28 	Table:  1 Row:  1
File:  29 	Table:  1 Row:  1
File:  30 	Table:  1 Row:  1

 97%|█████████▋| 32/33 [00:50<00:01,  1.62s/it]

File:  31 	Table:  1 Row:  1

100%|██████████| 33/33 [00:53<00:00,  2.02s/it]

File:  32 	Table:  1 Row:  1

In [9]:
#results_df = pd.DataFrame(results)
results_df = pd.read_csv(save_file_name)
row_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 1)] # table but no row
none_check = results_df[(results_df['row'] == 0) & (results_df['tbl'] == 0)] # no table no row
last_check = results_df[(results_df['row'] == 1) & (results_df['tbl'] == 1)] # table and row, other issue?
print("row & table found: ", len(set(last_check['fname'])))
print("table found: ", len(set(row_check['fname'])))
print("nothing found: ", len(set(none_check['fname'])))

row & table found:  7
table found:  0
nothing found:  0

In [10]:
last_check

,1-3,3-5,<1,>5,category,cik,datadate,fname,multiplier,row,tbl,total
0,2708.3,1018.7,1719.7,28.0,purchase obligations(a),0000009389,20031231,0000009389-04-000059.txt,1000000,1,1,5474.7
1,3204.9,1128.3,1832.1,1113.1,total payments on contractual obligations,0000009389,20031231,0000009389-04-000059.txt,1000000,1,1,7278.4
2,1,0,98,0,and construction of buildings,0000003333,20040129,0000003333-04-000014.txt,1,1,1,99.0
3,0,0,80,0,transportation contracts,0000003333,20040129,0000003333-04-000014.txt,1,1,1,80.0
4,1346,831,1480,7532,total contractual cash obligations,0000003333,20040129,0000003333-04-000014.txt,1,1,1,11189.0
5,77,49,63,31,capital lease obligations,0000022198,20031231,0000004904-04-000060.txt,1000000,1,1,220.0
6,2132,1101,1720,1785,obligations (a),0000022198,20031231,0000004904-04-000060.txt,1000000,1,1,6738.0
7,492,441,291,2331,noncancellable operating leases,0000022198,20031231,0000004904-04-000060.txt,1000000,1,1,3555.0
8,2512,0,2512,7200,other long0term obligations (b),0000800459,20040630,0000800459-04-000047.txt,1000,1,1,12224.0
9,0,0,20674,000,firm commitments for capital expenditures,0000800459,20040630,0000800459-04-000047.txt,1000,1,1,20674.0
10,0,0,58762,000,purchase obligations (c),0000800459,20040630,0000800459-04-000047.txt,1000,1,1,58762.0
11,295336,191729,133255,40493,total contractual cash obligations,0000800459,20040630,0000800459-04-000047.txt,1000,1,1,660813.0
12,135000,0,476000,0,purchase obligations,0000855612,20031231,0000950134-04-003510.txt,1,1,1,NaN
13,2.057e+06,844000,1619000,844000,total contractual obligations,0000855612,20031231,0000950134-04-003510.txt,1,1,1,NaN
14,0,0,4.7,0,purchase commitments,0000093456,20031228,0000906318-04-000093.txt,1000000,1,1,4.7
15,77,49,63,31,capital lease obligations,0000004904,20031231,0000004904-04-000055.txt,1000000,1,1,220.0
16,2132,1101,1720,1785,obligations (a),0000004904,20031231,0000004904-04-000055.txt,1000000,1,1,6738.0
17,492,441,291,2331,noncancellable operating leases,0000004904,20031231,0000004904-04-000055.txt,1000000,1,1,3555.0

# Examining one file

In [116]:
test_f = open(path_prefix + "0001457143-09-000008.txt")
wholetext = test_f.read()
cik_re = get_cik(wholetext)
datadate_re = get_datadate(wholetext)  
print("CIK: ", cik_re, "Date: ", datadate_re)
wholetext = wholetext.lower()

# Text table debugging
#text_chunk, multiplier, lines, tbl_list = scrape_text_table(wholetext)
# mult, lines, tbl_list = scrape_text_table(wholetext)
# rows = scrape_text_rows(lines, tbl_list)
# HTML debugging 
#scores, tables = scrape_table(wholetext)
# table = scrape_table(wholetext)
# rows = scrape_rows(table)
# mult = get_multiplier_from_tbl(table)
rows, mult

CIK:  0001277151 Date:  20081231

([], 1)

In [114]:
table_to_list(table)

[['for the period\nnovember 9, 2007\n\xa0 (initial capitalization)\nthrough\ndecember 31, 2007',
  'year ended\ndecember 31,\n2008',
  'revenues: room revenue other revenue total revenue expenses: operating expense hotel administrative expense sales and marketing utilities repair and maintenance franchise fees management fees taxes, insurance and other general and administrative depreciation expense total expenses operating loss interest income interest expense net income (loss) basic and diluted net income (loss) per common share',
  'weighted average common shares outstanding -\n\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 basic and diluted',
  '15,852',
  'distributions declared and paid per common share'],
 ['-',
  '-',
  '- $',
  '2,023',
  '11,524',
  '-',
  '3,381',
  '883',
  '1,066',
  '546',
  '637',
  '468',
  '441',
  '731',
  '1,288',
  '2,277',
  '11,718',
  '(194',
  '2,721',
  '(375',
  '$ $',
  '-',
  '- $'],
 ['-',
  '-',
  '-',
  '9,501',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '15',
  '-',
  '15',
  ')',
  '- )',
  '2,152',
  '0.14',
  '-',
  '-',
  '0.51'],
 ['-',
  '-',
  '- $',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '(15',
  '-',
  '(2',
  '$ $',
  '-',
  '- $'],
 ['-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '- )',
  '- )',
  '(17',
  '(1,684.60',
  '-',
  '-',
  '-']]

In [74]:
tbl_list

[['contractual obligations and commercial commitments. at december',
  '31,',
  '2008,',
  'our'],
 ['after', '2009', '2010', '2011', '2012', '2013', '2013', 'total'],
 ['operating leases', '606', '607', '474', '55', '14', '--', '1,756'],
 ['purchase', 'obligations', '4,852', '--', '--', '--', '--', '--', '4,852'],
 ['-------',
  '------',
  '------',
  '------',
  '------',
  '------',
  '------- total',
  '$6,075',
  '$1,223',
  '$1,090',
  '671',
  '630',
  '$3,489',
  '$13,178'],
 ['',
  'our purchase obligations are amounts committed under legally enforceable'],
 ['short duration of the securities in which we invest and the conservativenature of our investment portfolio, a',
  '10%',
  'move in interest rates over a'],
 ['one-year period would have an immaterial effect of approximately',
  '$20,000',
  'of'],
 ['decreased interest income on our financial position, results of operationsand cash flows. if the yen strengthens against the dollar by',
  '10%,',
  'the'],
 ['have an immaterial effect of approximately',
  '$24,000',
  'of decreased interest'],
 ['payable and receivable transactions in canadian dollars. however, paymentsfrom japanese customers provide yen currency for approximately',
  '49%',
  'of']]

In [75]:
text_chunk
l = text_chunk.split('\n')
numbers_row_indices = [hasNumbers(x) for x in l]
start_row_idx = np.where(np.array(numbers_row_indices) == True)[0][0]
end_row_idx = np.where(np.array(numbers_row_indices) == True)[0][-1]

In [52]:
l[start_row_idx:end_row_idx+1]

['                   payments due by period at december 31, 2008',
 '                                 (in thousands)',
 '',
 '                                            less than     one to       three to     more than',
 'contractual obligations           total      one year   three years   five years   five years',
 '- -----------------------           -----     ---------   -----------   ----------   ----------',
 '<s>                             <c>         <c>         <c>           <c>          <c>',
 'certificates of deposit and     $ 143,190   $ 110,433   $    25,548   $    5,574   $    1,635',
 '  other time deposits',
 'short-term debt',
 '  obligations                       3,911       3,911             -            -            -',
 'minimum operating lease',
 '  obligations                       1,745         817           849           63           16',
 '                                ---------   ---------   -----------   ----------   ----------',
 '       total                    $ 148,846   $ 115,161   $    26,397   $    5,637   $    1,651',
 '                                =========   =========   ===========   ==========   ==========',
 '</table>',
 '',
 '',
 'quantitative and qualitative disclosures about market risk',
 '',
 'market risk arises from exposure to changes in interest  rates,  exchange rates,',
 'commodity  prices,  and other relevant market rate or price risk. market risk in',
 'the  form  of  interest   rate  risk  is  measured   and  managed   through  the',
 'asset/liability  management system. the bank uses financial modeling  techniques',
 'that  measure  the   sensitivity  of  future   earnings  due  to  changing  rate',
 'environments.  policies  approved by the board of  directors  limit  exposure of',
 'earnings  at  risk.   general  interest  rate  movements  are  used  to  develop',
 'sensitivity  models and monitor  earnings at risk. these limits are based on the',
 "bank's  exposure to a 100 bp and 200 bp immediate  and  sustained  parallel rate",
 'move, either upward or downward.',
 '',
 "the bank's  primary  market risk exposure is interest rate risk and, to a lesser",
 "extent, liquidity risk. all of the bank's transactions are denominated in united",
 'states dollars, with no specific foreign exchange exposure.',
 '',
 '',
 '',
 '                                       24']

In [56]:
lines = l[start_row_idx:end_row_idx+1]
line_no = 0
condensed_lines = []
while line_no < len(lines):
    if hasNumbers(lines[line_no]):
        if line_no > 1 and not hasNumbers(lines[line_no-1]):
            condensed_lines.append(lines[line_no-1] + lines[line_no])
        else:
            condensed_lines.append(lines[line_no])
    line_no += 1
condensed_lines

['                   payments due by period at december 31, 2008',
 '<s>                             <c>         <c>         <c>           <c>          <c>certificates of deposit and     $ 143,190   $ 110,433   $    25,548   $    5,574   $    1,635',
 'short-term debt  obligations                       3,911       3,911             -            -            -',
 'minimum operating lease  obligations                       1,745         817           849           63           16',
 '                                ---------   ---------   -----------   ----------   ----------       total                    $ 148,846   $ 115,161   $    26,397   $    5,637   $    1,651',
 "sensitivity  models and monitor  earnings at risk. these limits are based on thebank's  exposure to a 100 bp and 200 bp immediate  and  sustained  parallel rate",
 '                                       24']

In [34]:
lines = condensed_lines
keywords = HDR_KWS + ROW_KWS
lines = [x for x in lines if (hasKeywords(x, keywords))]
lines = [x.split(' ') for x in lines]
for i, line in enumerate(lines):
    lines[i] = list(filter(lambda a: (a != '') and (a != '$') 
                           and (a !='<u>') and (a !='</u>'), line))

In [67]:
tbl_list = table_to_list(table)
tbl_list

[['long-term\n      debt', '200.0', '-', '-', '-', '200.0'],
 ['loans\n      from\n      affiliates', '1,325.0', '-', '-', '-', '1,325.0'],
 ['operating\n      leases', '3,356.9', '203.7', '394.0', '403.1', '2,356.1'],
 ['employee\n      benefits', '37.0', '2.5', '6.4', '7.3', '20.8'],
 ['total\n      contractual obligations $',
  '91,511.1',
  '$',
  '2,643.7',
  '$',
  '4,888.0',
  '$',
  '4,954.1',
  '$',
  '79,025.3']]

In [74]:
n_prev_siblings = 6
preceding_text = ' '.join([str(x) for x in itertools.islice(table.previous_siblings, n_prev_siblings)])

In [7]:
node = table
el_list = []
for i in range(20):
    el_list.append(node.parent)
    node = node.parent

In [38]:
prev_text = table.findAllPrevious(text=True)[:500]
prev_text = [x.replace('\xa0', '') for x in prev_text]
prev_text = [x.replace('\n', '') for x in prev_text]
prev_text = [x.replace('$', '') for x in prev_text]
prev_text = [x.replace(' ', '') for x in prev_text]
prev_text = [x for x in prev_text if ('' != x)][:30]
prev_text = ' '.join(prev_text)

In [39]:
get_multiplier_from_string(prev_text)

1000000